/ @author: FREVILLE Titouan <titouanfreville@hotmail.fr, tfreville@nexway.com, titouan.freville@ensiie.fr >
/ This is on of the projected version. Official version will be upload on <http://www.festival-saint-valery.fr/>
!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
  %body 

    .header
      .bandeau
        .logo
        .txt
          .name
            Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur Somme
      .menu
        %ul
          %li<
            %a{:href=>"./accueil.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      .espace
        %a(href="./espacepresse.html") ESPACE PRESSE
        %span &nbsp;| espace adhérents
      .container
        .content
          %sep
          .thanks
            <span>Un grand merci</span> aux comédiens, metteurs en scène, administrateurs, et techniciens du spectacle vivant qui font vivre ces jours de théâtre.
          %sep
          .thanks
            Merci aux bénévoles qui travaillent à ces rencontres et mettent au service de l’association, leur disponibilité, leurs compétences, leur dynamisme.
          %sep
          .thanks
            Merci aux collectivités territoriales et aux partenaires qui, par leur financement, rendent cette aventure possible.
      %section
        #pa_play.pacommand 
        #pa_pause.pacommand  
        .slideshow
          %a.play_commands.pause{:href => "#pa_pause", :title => "pause"} pause
          %a.play_commands.play{:href=>"#pa_play", :title => "play"} play
          .container
            .slider.animate
              %figure<
                %img{:src=>"images/stvalery_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/comdecom_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/somme_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/region_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/picardiefr3_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/intermarche_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/garagebarbier_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/delahaye_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/france_bleu_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/picardia_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/nautic_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/hyperu_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/proxinews_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/courrierpicard_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/picardieweb_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/journaldabbeville_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/eclaireur_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/ecbs_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/evasion_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/irem_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/bateau_baie_desomme_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/nora_defile.png", :class=>"anim"}
      .mention.visibility
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés