/ @author: FREVILLE Titouan <titouanfreville@hotmail.fr, tfreville@nexway.com, titouan.freville@ensiie.fr >
/ This is the proposed version. Official version will be upload on <http://www.festival-saint-valery.fr/>
!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html, charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
        .logo
        .txt
          .name
            Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur somme
      .menu
        %ul
          %li<
            %a{:href=>"./accueil.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      %header
        %span <p>les </p> affiches
      .pres
        .txt
          <span>Virgile Antoine</span> est le dessinateur de l'affiche du Festival depuis sa fondation. Il est un acteur à part entière de notre aventure. Année après année, il refait paraître dans ses compositions, le personnage Walric, devenu le fil de cette histoire graphique. Notre plaisir à vous faire redécouvrir les affiches passées est intact. C'est un artiste de génie à découvrir sur son blog
          %a(href="http://virgileantoine.e-monsite.com/")en cliquant ici
        .picture
      .affiche
        .band
          .b.r
            .aff
              %img{:height=>"540",:width=>"380",:src=>"images/affiche-2009.jpg"}/
            %span 2009
          .b
            .aff
              %img{:height=>"540",:width=>"380",:src=>"images/affiche-2010.jpg"}/
            %span 2010
        .band
          .b.r
            .aff
              %img{:height=>"540",:width=>"380",:src=>"images/affiche-2011.jpg"}/
            %span 2011
          .b
            .aff
              %img{:height=>"540",:width=>"380",:src=>"images/affiche-2012.jpg"}/
            %span 2012
        .band
          .b.r
            .aff
              %img{:height=>"540",:width=>"380",:src=>"images/affiche-2013.jpg"}/
            %span 2013
          .b
            .aff
              %img{:height=>"540",:width=>"380",:src=>"images/affiche-2014.jpg"}/
            %span 2014
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés