!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
        .logo
        .txt
          .name
            Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur somme
      .menu
        %ul
          %li<
            %a{:href=>"./accueil.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      %header
        %span <p class="nobreak">l'asso </p> ciation
        .intro
          .logomask
          %span
            L'association Théâtre en Festival a pour objectir d'organiser d'une part le Festival de Théâtre de Saint Valery, mais aussi la mission de sensibilisation et de formation théâtrale sur le territoire de Picardie Maritime. Ouverte à tous, Théâtre en Festival est une structure à but non lucratif qui réunit aujourd'hui 260 membres intéressés par la vie théâtrale et culturelle de notre pays.
      .container.center
        .informations
          %span
            En 2008, un groupe de 35 personnes, fédéré par un comédien professionnel, Yann Palheire, originaire de Saint Valery, définit un projet ambitieux : donner à chaque habitant de Saint-Valery l’envie et la possibilité de s’intéresser à une aventure culturelle. L’association « Théâtre en Festival »l est  née avec, comme objectif premier, le développement artistique de la Picardie Maritime  par le biais du spectacle vivant et populaire. Pour rassembler et fidéliser les habitants, l’association décide alors  de mettre en place un programme de stages de pratique théâtrale et d’offrir un temps fort à la ville de Saint Valery et au-delà : un festival de théâtre qui se déroulera sur plusieurs jours au mois de juin.
            %br
          %span
            Si à l’aube du premier festival, en juin 2009, l’association compte 50 adhérents,  depuis, le nombre n’a cessé d’augmenter jusqu’à plus de 250 en 2015, devenant  la plus grande association à vocation culturelle de la ville.
          %span
            Alors que Yann Palheire, en tant que directeur  artistique gère  la programmation et les contacts avec les compagnies,  Jeannine Pichon accepte en 2010,   la présidence de l’association  et les charges rattachées à ce statut. 
            %br
          %span
            En juin 2014 , Yann Palheire démissionne en tant que responsable artistique, pour se consacrer à sa troupe Solillès. Forte de son expérience et de la réussite des six festivals précédents, l’association décide de poursuivre l’aventure. Un collectif de programmation est créé. Le bureau du festival s’enrichit d’une vice-présidente et d’un trésorier adjoint. 
            %br
          %h2 Des convictions partagées
          %span
            La notion de théâtre populaire apparait comme fondamentale dans les statuts de l’association. C’est au service d’une certaine conception culturelle que chaque adhérent se sent responsable du festival et peut y participer librement selon le temps dont il dispose, ses compétences, ses désirs.
            %br
          %span
            Par sa volonté de faire connaitre le festival, d’inviter des personnes de tous horizons à assister aux représentations,  Théâtre en Festival a su tisser à Saint Valery et au-delà, des liens amicaux nombreux. Ici, les habitants de la Baie de Somme, heureux et fiers de contribuer à bâtir un projet collectif, se réunissent, débattent,  travaillent ensemble au développement d’une réalisation culturelle  commune, pour la restituer au plus grand nombre.  
            %br
        .administration
          .pict
          .membership
            %h1 Rejoignez l'association
            %span
              Les dix euros que vous versez en adhérant à Théâtre en Festival ne font pas que vous ouvrir les portes de notre association, ils participent à son fonctionnement de tout au long de l'année. C'est à la fois pour nous un soutien moral et un soutien financier de taille.
              %br
            %span
              Nous pouvons ainsi organiser le Festival de Saint Valery ainsi que tous les stages de pratique théâtrale que nous proposons à l'année.Vous participez activement à la vie culturelle et artistique de la région, et vous devenez membre d'une aventure artistique collective passionnante.
              %br
            %a(href="./adhesion.html")
          .donnation
            %h1 Faîtes un don
            %span
              C'est uniquement grâce à votre générosité que notre aventure atypique peut exister. Vos dons donnent droit à une réduction d'impôts de 66% dans la limite de 20% de votre revenu imposable. Profitez-de cette déduction en faisant vivre le festival !
              %br
            %span
              Ainsi un don de 100€ ne vous coûte que 34€ après déduction fiscale.<br />Ainsi un don de 50€ ne vous coûte que 17€ après déduction fiscale.
            %a(href="./don.html")
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés