!!!
/ Create by: FREVILLE Titouan <titouanfreville@hotmail.fr;tfreville@nexway.fr;titouan.freville@ensiie.fr>
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
  %body  
    / avoid repetition of the overlay when already visited
    %a.nodisp(href="./index.html") &nbsp;
    / used to mask the overlay on click
    %input{:type=>"radio", :id=>"overlay_joke", :name=>"overlay"}
    %label{:for=>"overlay_joke"}
    / header : Association Name + Navigation Menu
    .header.overlay
      .bandeau
        .logo.visibility
        .txt
          .name
            Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur Somme
      .menu.visibility
        %ul
          %li<
            %a{:href=>"./index.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    / Print event to be highlight
    .overlay
      .ocontent
        %span Fermer
        .img
        / Link to the highlight event
        .txt
          %a(href="./programme.html") 
            %i Cliquez ici 
            pour rentrer dans le 7eme festival de théâtre de Saint Valery sur Somme.
    .main.overlay
      .espace.visibility
        %a(href="./espacepresse.html") ESPACE PRESSE
        %span &nbsp;| espace adhérents
      .container.visibility
        / 
          Diaporama text command.
          %span#sl_play.command &nbsp;
          %span#sl_pause.command &nbsp;
          %span#sl_i1.command.i &nbsp;
          %span#sl_i2.command.i &nbsp;
          %span#sl_i3.command.i &nbsp;
          %section.mslide
            %a.play_commands.pause{:href => "#sl_pause", :title => "pause"} pause
            %a.play_commands.play{:href=>"#sl_play", :title => "play"} play
            .bar
              .mslider.animate
                .box.red.b1
                  %h1 PROGRAMME des stages
                  %img{:height => "139", :width => "300", :src => "./images/im1-stage.png"}>
                  %br
                  %a(href="./stages.html") présentation des stages 2014-2015
                .box.green.b2
                  %h1 SOUTENEZ LE FESTIVAL : adhérez à l'ASSOCIATION.
                  %img{:alt=>"Toute l&#39;équipe de Théâtre en festival prépare la cinquième édition de ce rendez-vous culturel, voulu populaire et festif.", :height=>"163", :src=>"./images/adhesion.jpg", :width=>"420"}
                  %p
                    Rejoignez notre belle aventure. En adhérant,  vous aidez l'association mais vous pouvez aussi si vous le souhaitez participer activement à l'accomplissement de nos missions.
                  %a(href="./association.html")en savoir +
                .box.red.b3
                  %h1 LE FESTIVAL EST SUR FACEBOOK.
                  %img{:height=>"163", :width=>"420", :src=>"./images/img6C.jpg"}
                  %p
                    %strong Le Festival de Saint Valery est présent sur Facebook.
                    Un espace d'échanges et d'informations pour être au plus près du Festival, pendant le mois de juin, mais aussi toute l'année. Pour être les premiers informés de notre actualité.
                  %a(href="https://fr-fr.facebook.com/Theatre.en.Festival")aller sur Facebook
            %ul.dots_commands<
              %li>
                %a{:title=>"Show slide 1", :href=>"#sl_i1"}Slide 1
              %li>
                %a{:title=>"Show slide 2", :href=>"#sl_i2"}Slide 2
              %li>
                %a{:title=>"Show slide 3", :href=>"#sl_i3"}Slide 3
        / Start page content
        .content
          %span
            Le 6<sup>e</sup> festival de juin 2014 a été, comme les années précédentes, un réel succès : il a fermé ses portes après avoir accueilli près de 2000 spectateurs.
            %br
            Merci à toutes et à tous pour votre fidélité.
            %br
            Nous vous donnons rendez-vous pour le 7<sup>e</sup> festival de Théâtre de Saint Valery sur Somme qui aura lieu la dernière semaine de juin 2015. Vous pouvez retrouver les photographies de cette 6<sup>e</sup> édition sur notre
            %a.normal(href="https://fr-fr.facebook.com/Theatre.en.Festival")page Facebook</a>.
            %br
          %sep
          .red
            %a(href="http://www.festival-saint-valery.fr/pdfs/theatre_en_festival_stage_2014_2015.pdf")téléchargez les informations pour les stages au format PDF (24 Mo)
          %sep
          .thanks
            <span>Un grand merci</span> aux comédiens, metteurs en scène, administrateurs, et techniciens du spectacle vivant qui font vivre ces jours de théâtre.
          %sep
          %span
            %img{:height=>"96", :src=>"./images/nouvel33.jpg", :width=>"100"}
            %p
              <strong>L'histoire du Festival c'est aussi celle de ses affiches.</strong> <br /> Depuis la première édition, le dessinateur Virgile Antoine invente chaque année un dessin mettant en scène le personnage Walric. Une rétrospective qui suit les étapes de l'aventure.
            %a.green.d110(href="./affiches.html") voir les affiches
      / Diap for the sponsors of the association (can be paused)
      %section.visibility
        #pa_play.pacommand 
        #pa_pause.pacommand  
        .slideshow
          %a.play_commands.pause{:href => "#pa_pause", :title => "pause"} pause
          %a.play_commands.play{:href=>"#pa_play", :title => "play"} play
          .container
            .slider.animate
              %figure<
                %img{:src=>"images/stvalery_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/comdecom_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/somme_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/region_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/picardiefr3_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/intermarche_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/garagebarbier_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/delahaye_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/france_bleu_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/picardia_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/nautic_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/hyperu_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/proxinews_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/courrierpicard_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/picardieweb_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/journaldabbeville_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/eclaireur_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/ecbs_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/evasion_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/irem_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/bateau_baie_desomme_defile.png", :class=>"anim"}
              %figure>
                %img{:src=>"images/nora_defile.png", :class=>"anim"}
      / © of the file
      .mention.visibility
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés