/ @author: FREVILLE Titouan <titouanfreville@hotmail.fr, tfreville@nexway.com, titouan.freville@ensiie.fr >
/ This is on of the projected version. Official version will be upload on <http://www.festival-saint-valery.fr/>
!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
  %body  
    %a.nodisp(href="./index.html") &nbsp;
    %a(href="./accueil.html")
      %label{:for=>"overlay_joke"}
    .header
      .bandeau
        .txt
          .name
            Théâtre en Festival
    / Popup events
    .overlay
      .ocontent
        .close
          Accéder au site
        / End slider
        %a(href="./accueil.html")
          .img
        .txt
          %a{:href=>"./accueil.html"} 
            %i 
              Cliquez ici 
            pour rentrer dans le 7eme festival de théâtre de Saint Valery sur Somme, les 25, 26, 27et 28 juin 2015