!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: contactez nous
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
        .logo
        .txt
          .name
            Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur somme
      .menu
        %ul
          %li<
            %a{:href=>"./accueil.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      %header
        %span <p>infos </p> pratiques
      .container
        .festival
          %div
            %h1 Village du festival
            %span Pré de l'Abbaye<br />Rue des Moines<br />Saint Valery sur Somme
            %span Sanitaires - Accès handicapés
            %span<
              %i
                En cas d'intempéries, le festival vous accueille dans les meilleures conditions&nbsp;: l'ensemble du «&nbsp;Village du Festival&nbsp;»est bâché. Quant aux spectacles, ils se déroulent sous chapiteau. Vous ne recevrez donc pas une goutte !
          %div
            %h1 Réservation & achat des billets
            %h2 En cours d'élaboration pour le 7<sup>éme</sup> festival.
          %div.plus
            %h4 LE FESTIVAL, C’EST AUSSI<br />UN VILLAGE ET UNE EXPOSITION
            %span
              dîner, se rafraîchir en discutant des spectacles et en rencontrant les comédiens
            %span
              consulter et acheter les ouvrages sélectionnés
            %span
              s’attarder sur l’exposition d’Antoine Virgile, présentant le travail du dessinateur et l’évolution de son personnage Valric depuis le premier festival jusqu’à aujourd’hui…
            %span
              … autant de possibilités de passer un agréable moment en fréquentant les différents stands du village.

        .other
          <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d1129.3204226976766!2d1.6202024994739874!3d50.18558651171795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m0!4m3!3m2!1d50.185221!2d1.6206242!5e1!3m2!1sfr!2sfr!4v1425766144619" width="400" height="300" frameborder="0" style="border:0"></iframe>
          .ci
            .de
          %div
            %h1 où dormir pendant le festival
            %ul
              %li <span>Le Castel</span> - Rue du Castel <br />Saint Valery // Tél. 03 22 60 82 36
              %li <span>Villa les Roses</span> - 9 rue Jules Brulé<br />Saint Valery // Tél. 03 22 60 69 83
              %li <span>Roses et Courtines</span> - 94 rue Saint Nicolas<br />Saint Valery // Tél. 03 22 26 86 71
              %li <span>M. et Mme Deloison</span> - 1 Quai du Romerel<br />Saint Valery // Tél. 03 22 26 92 17
              %li <span>Hôtel des Pilotes</span> - 62 rue de la Ferté<br />Saint Valery // Tél. 03 22 60 80 39
              %li <span>Hôtel Les Corderies</span> - 214 rue des Moulines<br >Saint Valery // Tél. 03 22 61 30 61
              %li <span>Hôtel du Port et des Bains</span> - 1 Quai Blavet<br />Saint Valery // Tél. 03 22 60 80 09
              %li <span>Passage en Baie</span> - Quai Perrée<br />Saint Valery // Tél. 06 09 49 49 04
              %li <span>Hôtel Picardia</span> - Quai du Romerel<br />Saint Valery // Tél. 03 22 60 62 30
              %li <span>Au Vélocipède & La Femme d'à côté</span> - Rue du Puits Salé<br />Saint Valery // Tél. 03 22 60 57 42
              %li <span>L'Auberge de la Marine</span> - Rue Florentin Lefils<br />Le Crotoy // Tél. 03 22 27 92 44
              %li <span>Hôtel les Tourelles</span> - 2-4 rue Pierre Guerlain<br />Le Crotoy // Tél. 03 22 27 16 33
              %li <span>Le Château des Lumières</span><br />Saint Blimont // Tél. 09 62 20 42 83
              %li <span>Hôtel Les Saules</span> - 1075 Rue des Forges<br />Favières // Tél. 03 22 27 04 20
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés