!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme ::  Programme
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
        .logo
        .txt
          .name
            Association Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur somme
      .menu
        %ul
          %li<
            %a{:href=>"./index.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main.mstage
      %header
        %span <p>les</p> Stages
      .content
        .pres
          .image
        .loc
          %h2 Saison 2014-2015
          %span
            L'association Théâtre en Festival a pour mission de dynamiser la culture pour la ville et la communauté de communes en organisant un grand festival de théâtre mais également des stages où se retrouvent dans la joie et la bonne humeur enfants, adolescents ou adultes.
          %span
            Les stagiaires, encadrés par des comédiens professionnels découvrent le travail sur le corps, la voix ainsi que le rapport à la scène.
          %span
            Destinés à tous publics, ouverts à tous âges, ces stages sont des espaces d'expression où chacun pourra découvrir la magie du théâtre.
        .intro
          .image
      .progheader
        %span «&nbsp;Vivre une démarche pour mieux voir et entendre le théâtre&nbsp;»
        %span Conter sans compter
      .content.nc
        // Stage enfants
        .stage
          %h1 stage enfants
          %ul
            %li <span>public :</span> 12 enfants de 6 à 10 ans
            %li
              %span contenu :
              le travail portera sur le thème du «&nbsp;monstre dans le placard&nbsp;»&nbsp;: faire peur et se faire peur. Chaque enfant créera son personnage, par improvisations, en utilisant les techniques du jeu d'acteur (corps et voix), le travail du masque et la mise en place d'éléments scénographiques.<br /> Le stage se terminera par une restitution devant un public de parents le 2 mai à 11h30.<br /> À leur tour, les formateurs présenteront le spectacle pour jeune public «&nbsp;Petites Sauvageries du monde&nbsp;», liant ainsi plaisir du spectacle, développement de la créativité et formation du spectateur.
            %li <span>animateur :</span> une comédienne professionnelle.
            %li <span>durée du stage :</span> 10 heures
            %li <span>dates et horaires :</span> du 28 avril au 2 mai 2015<br>du mardi au samedi de 10h à 12h
            %li <span>lieu :</span> chapelle Saint Pierre à Saint-Valery
            %li <span>tarif :</span> 45€ par participant avec le spectacle «&nbsp;&nbsp;Petites Sauvageries du monde&nbsp;&nbsp;»
            %li
              %span inscriptions et renseignements&nbsp;:<br />
              Marie-Agnès Landié<br /> 03 22 60 83 47<br />
              %a(href="mailto:mireaux.landie@cegetel.net?Subject=Renseignement%20ou%20inscription%20-%20enfants")mireaux.landie@cegetel.net
        // Stages Ados
        .stage
          %h1 stage ados
          %ul
            %li  <span>public&nbsp;:</span> 14 adolescents de 11 à 14 ans
            %li
              %span contenu&nbsp;:
              le travail théâtral s'appuiera sur des extraits de l'&oelig;uvre de l'écrivain humoriste Jean-Louis Fournier&nbsp;: jouer avec les mots, adapter de courts textes pour les mettre en jeu, et par l'improvisation et le jeu d'acteur, explorer le monde de l'adolescence imaginaire.<br /> La restitution du travail devant les parents et amis le 2 mai à 15h30 prendra la forme d'un court spectacle de cabaret.
            %sep
            %li <span>animateur&nbsp;:</span> une comédienne professionnelle.
            %li <span>durée du stage&nbsp;:</span> 10 heures
            %li <span>dates et horaires&nbsp;:</span> du 28 avril au 2 mai 2015<br>du mardi au samedi de 14h à 16h
            %li <span>lieu&nbsp;:</span> chapelle Saint Pierre à Saint-Valery
            %li <span>tarif&nbsp;:</span> 40€ par participant
            %li
              %span inscriptions et renseignements&nbsp;:<br />
              Marie-Agnès Landié<br /> 03 22 60 83 47<br />
              %a(href="mailto:mireaux.landie@cegetel.net?Subject=Renseignement%20ou%20inscription%20-%20ados")mireaux.landie@cegetel.net
        // Stages Adultes
        .stage
          %h1 stage adultes
          %ul
            %li <span>public&nbsp;:</span> 14 adultes au maximum, pas de niveau requis.
            %li
              %span contenu&nbsp;:
              ce stage permettra d'expérimenter l'art de raconter une histoire à un public. Les participants s'initieront aux techniques permettant d'éveiller et de retenir l'attention de l'auditoire. Ils travailleront seuls et à plusieurs des petits contes humoristiques, cocasses, absurdes, parfois théâtralisés qui seront présentés lors d'un évènement convivial du Festival de Théâtre&nbsp;: la «&nbsp;veillée contée&nbsp;». Les conteurs qui le souhaiteront seront invités à exercer leur pratique tout au long du festival.
            %li <span>animateur&nbsp;:</span> deux comédiens professionnels.
            %li <span>durée du stage&nbsp;:</span> 15 heures (veillée comprise)
            %li
              %span dates et horaires&nbsp;:
              samedi 20 juin de 14h30 à 18h30,<br /> lundi 22, mardi 23, mercredi 24 juin de 18h30 à 21h30,<br /> veillée prévue le jeudi 25 juin au soir.
            %li <span>lieu&nbsp;:</span>à préciser
            %li <span>tarif&nbsp;:</span> 50€ par participant
            %li
              %span inscriptions et renseignements&nbsp;:<br />
              Marie-Christine Vacavant<br />03 22 31 69 63 / 06 61 56 14 84<br />
              %a(href="mailto:marie-christine.vacavant@orange.fr?Subject=Renseignement%20ou%20inscription%20-%20adultes")marie-christine.vacavant@orange.fr
      .progfooter
        %span Spectacle «&nbsp;Petites Sauvageries du monde&nbsp;» samedi 2 mai à 17h30
        %span Entrée&nbsp;:&nbsp;6€
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés