/ @author: FREVILLE Titouan <titouanfreville@hotmail.fr, tfreville@nexway.com, titouan.freville@ensiie.fr >
/ This is on of the projected version. Official version will be upload on <http://www.festival-saint-valery.fr/>
!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme ::  Programme
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
        .logo
        .txt
          .name
            Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur somme
      .menu
        %ul
          %li<
            %a{:href=>"./index.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      %header
        %span <p>Les </p> Tarifs
      .tarifs
        %h1 Les tarifs du 7<sup>ème</sup> festival

        / Print selected days shedule
        %input{:type => "checkbox", :id => "j"}
        %input{:type => "checkbox", :id => "v"}
        %input{:type => "checkbox", :id => "s"}
        %input{:type => "checkbox", :id => "d"}
  
        .selector
          %ul
            %li 
              %ul
                %li Date
                %li 
                  %label.j{:for => "j"} Jeudi 25 juin
                %li
                  %label.v{:for => "v"} Vendredi 26 juin
                %li
                  %label.s{:for => "s"} Samedi 27 juin
                %li  
                  %label.d{:for => "d" } Dimanche 28 juin
        / By date table
        .solo.date
          %ul
            %li.lheader
              .name 
                %span Spectacles
              .pt 
                %span Plein tarif
              .tr
                %span Tarif réduit (scolaires, étudiants, demandeurs d’emploi, intermittents)
            %li.j
              .date Jeudi 25 juin
            %li.j
              .name 
                La petite sirène
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.l
                  .box
                    .img.sirene
                    .txt.sirene
                      .info
                        .tete.pmarge
                          %h1
                            la petite sirene
                          %h3
                            La Briganderie
                        %span
                          Tout le monde connait le conte d'Andersen&nbsp;: une petite sirène sauve un prince du naufrage et ...
                      %span.horaire
                        Matinées réservées aux scolaires<br />jeudi 25 juin à 10 h. et vendredi 26 juin à 10 et 15 h.
              .pt 5€
              .tr 4€ (CCBSS)
            %li.j
              .name 
                Petits contes de la joie de vivre
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.b
                  .band
                    .tete.pmarge
                      %h1
                        petits contes de la joie de vivre
                      %h2
                        veillée contée
                      %h3
                        par les participants au stage de théâtre adultes et les comédiens formateurs (Compagnie La Briganderie)
                      %span.horaire
                        Jeudi 25 juin à 19 h.
              .pt 5€
              .tr.none               
            %li.j
              .name 
                Friends
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#friends
                    .img.friends
                    .txt.friends
                      .info
                        .tete.lmarge
                          %h1
                            FRIENDS
                          %h3
                            Comédie de Béthune
                        %span
                          Trois copains musiciens vont, au cours de leur dernier concert, faire revivre l’histoire de leur vie&nbsp;: les Beatles, Sheila, Céline Dion revisités, mais aussi Montaigne, Simone de Beauvoir ou Françoise Dolto, pour nous parler de l’amitié.
                        %span.comment
                          Dans le cadre des tournées en région de la <i>Comédie de Picardie</i>.
                      %span.horaire
                        Jeudi 25 juin à 21h.
              .pt 12€
              .tr 8€
            %li.v
              .date Vendredi 26 juin
            %li.v
              .name
                La petite sirène
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.l
                  .box
                    .img.sirene
                    .txt.sirene
                      .info
                        .tete.pmarge
                          %h1
                            la petite sirene
                          %h3
                            La Briganderie
                        %span
                          Tout le monde connait le conte d'Andersen&nbsp;: une petite sirène sauve un prince du naufrage et ...
                      %span.horaire
                        Matinées réservées aux scolaires<br />jeudi 25 juin à 10 h. et vendredi 26 juin à 10 et 15 h.
              .pt 5€
              .tr 4€ (CCBSS)
            %li.v
              .name 
                Y’a d’la joie
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.l
                  .box#yadlajoie
                    .img.yadlajoie
                    .txt.yadlajoie
                      .info
                        .tete.pmarge
                          %h1
                            y'a d'la joie
                          %h3
                            Compagnie l’Échappée
                        %span
                          Un périple musico-théâtral, mêlant textes d’auteur(e)s contemporains et chansons originales, sur le thème du bonheur&nbsp;: celui qu’on nous propose, celui qu’on nous impose, celui qu’on rêve d’atteindre…
                      %span.horaire
                        Vendredi 26 juin à 19h.
              .pt 12€
              .tr  8€
            %li.v
              .name 
                Comme un gant
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#commeungant
                    .img.commeungant
                    .txt.commeungant
                      .info
                        .tete.lmarge
                          %h1
                            comme un gant
                          %h3
                            Collectif des baltringues
                        %span
                          Conférence sur les métiers de la propreté&nbsp;: rencontre avec deux femmes d’expérience qui ont tout à vous apprendre.
                      %span.horaire
                        Vendredi 26 juin à 21h. 30
              .pt 12€
              .tr 8€ 
            %li.s 
              .date Samedi 27 juin
            %li.s
              .name 
                Quand le silence se prend une claque
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.m
                  .box#silence.hfirst
                    %h1
                      quand le silence se prend une claque
                    .bband
                      .img.silence
                      .txt
                        .info
                          %h3
                            Compagnie Correspondances
                          %span
                            Une colère qui s’exprime, une porte qui claque… Est-elle partie ou va-t-elle revenir&nbsp;? Questionnement dans le jeu… Un spectacle qui associe théâtre et danse contemporaine.
                        %span.horaire
                          Tout public à partir de 5 ans. Samedi 27 juin à 14h.30
              .pt 8€
              .tr.none
            %li.s
              .name 
                Petit navire
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.l
                  .box#navire.petitnavire
                    .img.petitnavire
                    .txt.petitnavire
                      .info
                        .tete.pmarge
                          %h1
                            petit navire
                          %h3
                            Compagnie La Planque
                        %span
                          Un conte musical pour tout petits, sans parole, qui invite à découvrir l’histoire du moussaillon de la comptine, qui rêve de prendre le large (à partir de 6 mois).
                      %span.horaire
                        Samedi 27 juin à 18h.30
              .pt 3€
              .tr.none
            %li.s
              .name 
                Enfantillages
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#enfant
                    .img.enfantillages
                    .txt.enfantillages
                      .info
                        .tete.lmarge
                          %h1
                            enfantillages
                          %h3
                            Sarah Massuelles
                        %span
                          Une histoire que l’on raconte aux petits et aux grands enfants, rencontre entre une harpe et Schumann, Debussy, Grandjany, Ravel …
                      %span.horaire
                        Samedi 27 juin à 18h.30
              .pt 5€
              .tr.none
            %li.s
              .name 
                Palatine
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#palatine
                    .img.palatine
                    .txt.palatine
                      .info
                        .tete.lmarge
                          %h1
                            palatine
                          %h3
                            Théâtre du Loup Blanc
                        %span
                          Marie Grudzinski incarne une princesse Palatine, belle sœur de Louis XIV, cocasse et émouvante, mêlant l’humour au tragique, menant le spectateur du rire à l’émotion. Une adaptation et une interprétation superbes.
                      %span.horaire
                        Samedi 27 juin à 21h.
              .pt 12€
              .tr 8€
            %li.d
              .date Dimanche 28 juin
            %li.d
              .name 
                Légendes picardes du M.A.
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#lpma
                    .img.lpma
                    .txt.lpma
                      .info
                        .tete.lmarge
                          %h1
                            légendes picardes du moyen-âge
                          %h3
                            Jean-Marie et Sylvie François
                        %span
                          Rendez-vous traditionnel avec Jean-Marie et Sylvie François, conteurs picards qui nous plongeront dans les histoires légendaires du Moyen Age.
                      %span.horaire
                        Dimanche 28 juin à 11h.
              .pt 5€
              .tr.none
            %li.d
              .name 
                Café Proust
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.l
                  .box#cp
                    .img.cafeproust
                    .txt.cafeproust
                      .info
                        .tete.pmarge
                          %h1
                            café proust
                          %h3
                            Laurence Grenier
                        %span
                          Laurence Grenier, viendra nous convaincre de l’absolue nécessité de lire (ou de relire) l’œuvre de Proust, dans laquelle chaque acte de notre vie trouve sa résonance.
                      %span.horaire
                        Dimanche 28 juin à 14h.30
              .pt 5€
              .tr.none
            %li.d
              .name 
                «&nbsp;Ma chère Yvonne&nbsp;»
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#mcy
                    .img.yvonneetgaston
                    .txt.yvonneetgaston
                      .info
                        .tete.lmarge
                          %h1
                            «&nbsp;ma chère yvonne ...&nbsp;»
                          %h3
                            Marie-Agnès Landié <br />Pierre Lamidel
                        %span
                          Lecture d’extraits des lettres échangées de 1913 à 1915, entre deux Valericains, Yvonne Delabarre et Gaston Desbiendras mort sur le front. <br />Après une adaptation théâtrale et la publication de la pièce, ce sont les lettres dans leur chronologie et leur authenticité qui seront lues au public.
                      %span.horaire
                        Dimanche 28 juin à 16h. <br />Chapelle des marins
              .pt 5€
              .tr.none
            %li.d
              .name 
                Albertine, Marthe, Andrée…
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#hamac.hfirst
                    %h1.hamac
                      ALBERTINE, MARTHE, ANDREE, CLAUDE
                    .bband
                      .img.amac
                      .txt.amac
                        .info
                          .tete.lmarge
                            %h1
                              \... et les autres
                            %h3
                              Compagnie des Mers du Nord
                          %span
                            «&nbsp;Un cabaret pour trois mariées, trois marionnettes et deux guerres mondiales&nbsp;» <br /> La salle de spectacle se transforme en estaminet pour accueillir des tranches de vie, tirées de témoignages des femmes du nord au XXème siècle.
                        %span.horaire
                          Dimanche 28 juin à 18h.
              .pt 12€
              .tr 8€
            %li.d
              .name 
                Le Malade Imaginaire
                / Thanks to http://www.flaticon.com/authors/vectorgraphit for the icon 
                .highlight.t
                  .box#mi.hfirst
                    %h1.mi
                      le malade imaginaire
                    .bband
                      .img.maladeimaginaire
                      .txt.maladeimaginaire
                        .info
                          .tete.lmarge
                            %h3
                              Rollmops Théâtre
                          %span
                            Une mise en scène originale, un décor à plusieurs niveaux de jeu, quatre comédiens se glissant dans d’invraisemblables costumes pour incarner tous les personnages, le tout restant très fidèle à l’œuvre de Molière. Un grand succès&nbsp;!
                        %span.horaire
                          Dimanche 28 juin à 20h.30
              .pt 15€
              .tr 12€
        / Passeport
        .passeport
          %ul
            %li.des
              .intro
                Le Passeport Festival est une enveloppe qui contient une entrée pour les spectacles suivants :
              .sp1 Friends,
              .sp2 Y’a d’la joie,
              .sp3 Comme un gant,
              .sp4 Palatine,
              .sp5 le Malade Imaginaire.
            %li.price
              55€
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés