.textcentrer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  overflow: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 130px;
  margin: 20px;
  padding: 20px;
  border: 1px solid green;
  background-color: red;
  
}