server {
#  listen       80;
  listen *:80;
  index index.html index.htm;
  server_name localhost cactusespacesverts.fr www.cactusespacesverts.fr cactus;
  #root   /cactus/http/cactusespacesverts/;
  root /home/titouan/git/web_site/cactusespacesverts;
  add_header 'Access-Control-Allow-Origin' '*';
  charset utf-8;
  #log_format main '$remote_addr - $remote_user [$time_local]'
  #     '"$request" $status $bytes_sent '
  #           '"$http_referer" "$http_user_agent" "$gzip_ratio"';
  access_log /var/log/nginx/log/cactusespacesverts.access.log;

  location / {
    index index.html;
    try_files $uri $uri/ /index.html /index.htm;
    # add_header 'Access-Control-Allow-Origin' '*';
  }

  location ~ ^/(scripts|styles)/(.*)$ {
    add_header 'Access-Control-Allow-Origin' '*';
    #root .tmp/;
    error_page 404 =200 @asset_pass;
    try_files $uri =404;
    break;
  }

}
