server {
  listen       80;
  server_name  www.cactusespacesverts.fr;
  root   /home/http/cactusespacesverts/;
  add_header 'Access-Control-Allow-Origin' '*';
  charset utf-8;
  access_log  /var/log/nginx/log/cactusespacesverts.access.log  main;

  location / {
    index  index.html index.htm;
    try_files $uri $uri/ index.html index.html /index.html /index.htm;
    add_header 'Access-Control-Allow-Origin' '*';
  }

  location ~ ^/(scripts|styles)/(.*)$ {
    add_header 'Access-Control-Allow-Origin' '*';
    #root .tmp/;
    error_page 404 =200 @asset_pass;
    try_files $uri =404;
    break;
  }

}