server {
  listen       80;
  server_name  localhost;
  root   /home/rtt;
  add_header 'Access-Control-Allow-Origin' '*';
  #charset koi8-r;
  #access_log  /var/log/nginx/log/host.access.log  main;

  location / {
      index  index.html index.htm;
      add_header 'Access-Control-Allow-Origin' '*';
  }

  location ~ ^/(scripts|styles)/(.*)$ {
    add_header 'Access-Control-Allow-Origin' '*';
    #root .tmp/;
    error_page 404 =200 @asset_pass;
    try_files $uri =404;
    break;
  }

}