@charset "UTF-8";
/**
 * Resets
 * --------------------------------------------------
 * Additional resets
 */
/* line 5, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/_reset.scss */
button, input, select {
  outline: 0;
}

@font-face {
  font-family: 'splendid';
  src: url("../../fonts/splendid.ttf") format("truetype");
}
@font-face {
  font-family: 'serena';
  src: url("../../fonts/serena.ttf") format("truetype");
}
@font-face {
  font-family: 'contact';
  src: url("../../fonts/testaddress/blackjack.ttf") format("truetype");
}
@font-face {
  font-family: 'laine';
  src: url("../../fonts/laine.ttf") format("truetype");
}
@font-face {
  font-family: 'coneria';
  src: url("../../fonts/coneriascript.ttf") format("truetype");
}
@font-face {
  font-family: 'aerofoil';
  src: url("../../fonts/aerofoil.ttf") format("truetype");
}
@font-face {
  font-family: 'fontinfo';
  src: url("../../fonts/fontinfo.ttf") format("truetype");
}
/* line 1, ../sass/_menu.scss */
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 11, ../sass/_menu.scss */
header div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  /* ----------- Banner cie name ---------------------------------- */
  /* -------------------------- Cie logo and link to index -------------------------- */
  /* --------------------------- Phone and address based ---------------------*/
  /* -------------------------- Menu ---------------------------------------- */
}
/* line 14, ../sass/_menu.scss */
header div:first-of-type {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
  -moz-box-flex: 0.5;
  -moz-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}
/* line 17, ../sass/_menu.scss */
header div:last-of-type {
  -webkit-box-flex: 1.2;
  -webkit-flex: 1.2;
  -moz-box-flex: 1.2;
  -moz-flex: 1.2;
  -ms-flex: 1.2;
  flex: 1.2;
}
/* line 21, ../sass/_menu.scss */
header div .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url(../../images/logo.svg) no-repeat center center;
  background-color: transparent;
  background-size: contain;
  margin: 0 0 0 10px;
}
/* line 31, ../sass/_menu.scss */
header div .contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
  -moz-box-flex: 0.5;
  -moz-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}
/* line 34, ../sass/_menu.scss */
header div .contact ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 37, ../sass/_menu.scss */
header div .contact ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: center;
  font-family: "serena", "comic", Geneva CE, Helvetica;
  color: #73736d;
  min-width: 140px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 1ex;
  max-height: 20px;
}
/* line 48, ../sass/_menu.scss */
header div .contact ul li .name, header div .contact ul li .element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 51, ../sass/_menu.scss */
header div .contact ul li .name {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
  -moz-box-flex: 0.5;
  -moz-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.5;
}
/* line 54, ../sass/_menu.scss */
header div .contact ul li .element {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
/* line 62, ../sass/_menu.scss */
header div .titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* line 65, ../sass/_menu.scss */
header div .titles h1 {
  font-size: 3.2rem;
  font-family: "aerofoil", "comic", Geneva CE, Helvetica;
  margin: 10px;
  padding: 0.7rem;
  color: #057d37;
}
/* line 73, ../sass/_menu.scss */
header div .titles h2 {
  font-size: 2.2rem;
  font-family: "splendid", "comic", Geneva CE, Helvetica;
  text-align: center;
  margin: 10px;
  padding: 0.5rem;
  color: #057d37;
}
/* line 82, ../sass/_menu.scss */
header div nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 84, ../sass/_menu.scss */
header div nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}
/* line 88, ../sass/_menu.scss */
header div nav ul a {
  padding-left: 30px;
  background-image: url(../../images/cactusgreen.svg);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 100%;
}
/* line 95, ../sass/_menu.scss */
header div nav ul a:hover {
  background-image: url(../../images/cactusblack.svg);
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 101, ../sass/_menu.scss */
header div nav ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  font-family: "serena", "comic", Geneva CE, Helvetica;
  color: #73736d;
  min-width: 140px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 1ex;
  max-height: 20px;
}
/* line 116, ../sass/_menu.scss */
header div .ciename {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 80%;
  margin: 0;
  padding: 0;
  height: 100%;
}
/* line 124, ../sass/_menu.scss */
header div .ciename h1 {
  font-size: 3.2rem;
  font-family: "aerofoil", "comic", Geneva CE, Helvetica;
  margin: 10px;
  padding: 0.7rem;
  color: #057d37;
}
/* line 132, ../sass/_menu.scss */
header div .ciename h2 {
  font-size: 2.2rem;
  font-family: "splendid", "comic", Geneva CE, Helvetica;
  text-align: center;
  margin: 10px;
  padding: 0.5rem;
  color: #057d37;
}
/* line 141, ../sass/_menu.scss */
header div .ciename span {
  font-family: "fontinfo", "comic", Geneva CE, Helvetica;
  color: #73736d;
  font-size: 1.1rem;
  text-align: right;
  padding-right: 10%;
}
/* line 154, ../sass/_menu.scss */
header div .bannercontact {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: normal;
  -moz-flex-direction: normal;
  -ms-flex-direction: normal;
  flex-direction: normal;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  text-align: center;
  width: 20%;
  font-family: "contact", "comic", Geneva CE, Helvetica;
}
/* line 161, ../sass/_menu.scss */
header div .bannercontact .phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: normal;
  -moz-flex-direction: normal;
  -ms-flex-direction: normal;
  flex-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
/* line 167, ../sass/_menu.scss */
header div .bannercontact .phone span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  color: #73736d;
  font-size: 0.9rem;
  text-align: right;
  padding: 10px;
  padding-left: 0;
}
/* line 177, ../sass/_menu.scss */
header div .bannercontact .phone .img {
  background: url(../../images/phone.svg) no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 0;
}
/* line 186, ../sass/_menu.scss */
header div .bannercontact .address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #73736d;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}
/* line 195, ../sass/_menu.scss */
header div .bannercontact .address .street {
  text-align: center;
}
/* line 198, ../sass/_menu.scss */
header div .bannercontact .address .cp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
/* line 202, ../sass/_menu.scss */
header div .bannercontact .address .cp span {
  padding: 0 10%;
}
@media (min-width: 1010px) {
  /* line 202, ../sass/_menu.scss */
  header div .bannercontact .address .cp span {
    padding: 0 24px;
  }
}
/* line 213, ../sass/_menu.scss */
header div .menu {
  top: 203px;
  min-height: 35px;
  left: 235px;
  width: 80%;
}
/* line 219, ../sass/_menu.scss */
header div .menu .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  font-size: 1.5rem;
  vertical-align: middle;
  padding: 10px;
  width: 100%;
}
/* line 245, ../sass/_menu.scss */
header div .menu .container a {
  padding-left: 30px;
  background-image: url(../../images/cactusgreen.svg);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 252, ../sass/_menu.scss */
header div .menu .container a:hover {
  background-image: url(../../images/cactusblack.svg);
}
/* line 257, ../sass/_menu.scss */
header div .menu .container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: normal;
  -moz-flex-direction: normal;
  -ms-flex-direction: normal;
  flex-direction: normal;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around;
  width: 100%;
  min-height: 1ex;
}
/* line 264, ../sass/_menu.scss */
header div .menu .container ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
  font-family: "serena", "comic", Geneva CE, Helvetica;
  color: #73736d;
  border: 1px dotted #077f36;
  min-width: 140px;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-height: 1ex;
  max-height: 20px;
}
/* line 278, ../sass/_menu.scss */
header div .menu .container ul li ul {
  position: relative;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  display: none;
}
/* line 283, ../sass/_menu.scss */
header div .menu .container ul li ul li {
  border: none;
  min-height: 15px;
  height: 30px;
  padding: 5px;
  position: relative;
}
/* line 290, ../sass/_menu.scss */
header div .menu .container ul li ul li ul {
  position: absolute;
  left: 230px;
  padding: 0 10px;
  top: 0;
  display: none;
}
/* line 295, ../sass/_menu.scss */
header div .menu .container ul li ul li ul li {
  position: relative;
  border: 1px dotted #077f36;
  min-height: 15px;
}
/* line 303, ../sass/_menu.scss */
header div .menu .container ul li ul:first-child {
  padding-top: 30px;
}
/* line 310, ../sass/_menu.scss */
header div .menu .container ul li:hover {
  max-height: 500px;
}
@media screen and (min-width: 1030px) {
  /* line 315, ../sass/_menu.scss */
  header div .menu .container ul li:hover ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  /* line 318, ../sass/_menu.scss */
  header div .menu .container ul li:hover ul ul {
    display: none;
  }
  /* line 324, ../sass/_menu.scss */
  header div .menu .container ul li:hover ul li:hover ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* line 1, ../sass/_body.scss */
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  padding: 0;
  margin: 0;
  background-color: #000;
  background: url(../../images/background.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "comic", Geneva CE, Helvetica;
  font-size: 100%;
  color: #3fb500;
}

/* line 3, ../sass/_list.scss */
ul li .description {
  margin: 0.5em 0;
  padding-left: 1.7em;
  font-size: 1.1rem;
}
/* line 7, ../sass/_list.scss */
ul li .description ul {
  margin: 5px;
  padding-left: 1.5em;
  font-style: oblique;
}
/* line 15, ../sass/_list.scss */
ul h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin: 0.2rem 0 0.4rem 5px;
  padding: 0 0 10px 0;
  text-align: left;
}
/* line 24, ../sass/_list.scss */
ul h2 {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 500;
  margin: 0.1rem 0 0.2rem 5px;
  padding: 0 0 0 0.5em;
}

/* line 1, ../sass/_utilities.scss */
h1 {
  font-size: 1.7rem;
  font-family: "comic", Geneva CE, Helvetica;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: #C60800;
  margin: 5px;
  padding: 0.4rem 0 0.4rem 0;
}

/* line 12, ../sass/_utilities.scss */
a {
  min-height: 1.5ex;
  text-decoration: none;
  color: inherit;
}
/* line 17, ../sass/_utilities.scss */
a:visited {
  color: inherit;
  text-decoration: none;
}

/* line 23, ../sass/_utilities.scss */
.nobackground {
  background-color: transparent !important;
  background-image: none;
}

/* line 28, ../sass/_utilities.scss */
.cache {
  background-color: #fff;
}

/* fonction d'animation, n'oubliez pas de prefixer ! */
@-moz-keyframes slider {
  0%, 8%, 100% {
    left: 0;
  }
  10%, 18%, 90%,98% {
    left: -100%;
  }
  20%, 28%, 80% , 88% {
    left: -200%;
  }
  30%, 38%, 70%, 78% {
    left: -300%;
  }
  40%, 48%, 60%, 68% {
    left: -400%;
  }
  50%, 58% {
    left: -500%;
  }
}
@-webkit-keyframes slider {
  0%, 8%, 100% {
    left: 0;
  }
  10%, 18%, 90%,98% {
    left: -100%;
  }
  20%, 28%, 80% , 88% {
    left: -200%;
  }
  30%, 38%, 70%, 78% {
    left: -300%;
  }
  40%, 48%, 60%, 68% {
    left: -400%;
  }
  50%, 58% {
    left: -500%;
  }
}
@keyframes slider {
  0%, 8%, 100% {
    left: 0;
  }
  10%, 18%, 90%,98% {
    left: -100%;
  }
  20%, 28%, 80% , 88% {
    left: -200%;
  }
  30%, 38%, 70%, 78% {
    left: -300%;
  }
  40%, 48%, 60%, 68% {
    left: -400%;
  }
  50%, 58% {
    left: -500%;
  }
}
/* line 11, ../sass/_animations.scss */
.slideshow {
  position: relative;
  width: 1067px;
  height: 800px;
  padding: 15px;
  margin: 0 auto 2em;
  border: 1px solid #ddd;
  background: #FFF;
  /* CSS3 effects */
  background: linear-gradient(#ffffff, #ffffff 20%, #eeeeee 80%, #dddddd);
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  /* avanced box-shadow 
   * tutorial @ 
   * http://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow  
  */
  /* gestion des dimensions et débordement du conteneur */
  /* on prévoit un petit espace gris pour la timeline */
  /*  
     le conteneur des slides 
     en largeur il fait 100% x le nombre de slides 
  */
  /* annulation des marges sur figure */
  /* styles de nos légendes */
}
@media (max-height: 1000px) {
  /* line 11, ../sass/_animations.scss */
  .slideshow {
    width: 413px;
    height: 310px;
  }
}
@media (max-height: 500px) {
  /* line 11, ../sass/_animations.scss */
  .slideshow {
    width: 133px;
    height: 100px;
  }
}
/* line 32, ../sass/_animations.scss */
.slideshow img {
  width: 1067px;
  height: 800px;
}
@media (max-height: 1000px) {
  /* line 32, ../sass/_animations.scss */
  .slideshow img {
    width: 413px;
    height: 310px;
  }
}
@media (max-height: 500px) {
  /* line 32, ../sass/_animations.scss */
  .slideshow img {
    width: 133px;
    height: 100px;
  }
}
/* line 50, ../sass/_animations.scss */
.slideshow:before, .slideshow:after {
  position: absolute;
  bottom: 16px;
  z-index: -10;
  width: 50%;
  height: 20px;
  content: " ";
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 20px 10px rgba(0, 0, 0, 0.7);
}
/* line 62, ../sass/_animations.scss */
.slideshow:before {
  left: 0;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
/* line 66, ../sass/_animations.scss */
.slideshow:after {
  right: 0;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg);
}
/* line 72, ../sass/_animations.scss */
.slideshow .container {
  position: relative;
  width: 1067px;
  height: 800px;
  overflow: hidden;
}
@media (max-height: 1000px) {
  /* line 72, ../sass/_animations.scss */
  .slideshow .container {
    width: 413px;
    height: 310px;
  }
}
@media (max-height: 500px) {
  /* line 72, ../sass/_animations.scss */
  .slideshow .container {
    width: 133px;
    height: 100px;
  }
}
/* line 89, ../sass/_animations.scss */
.slideshow .container:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 1px;
  background: #999;
}
/* line 101, ../sass/_animations.scss */
.slideshow .slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 600%;
  height: 310px;
}
/* line 109, ../sass/_animations.scss */
.slideshow figure {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  /* petit effet de vignette sur les images */
}
/* line 114, ../sass/_animations.scss */
.slideshow figure:after {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.5) inset;
}
/* line 125, ../sass/_animations.scss */
.slideshow figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  padding: 20px;
  margin: 0;
  border-top: 1px solid #e1e1e1;
  text-align: center;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  font-family: Georgia, Times, serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  color: #555;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3);
}
/* line 141, ../sass/_animations.scss */
.slideshow .animate {
  /* ... avec la propriété animation */
  -webkit-animation: slider 96s infinite;
  -moz-animation: slider 96s infinite;
  animation: slider 96s infinite;
}

/* line 1, ../sass/_spaces.scss */
space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 90%;
  height: 100%;
  margin: 1.9rem 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 6px;
}
/* line 11, ../sass/_spaces.scss */
space .main {
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  vertical-align: baseline;
}
/* line 25, ../sass/_spaces.scss */
space .main h3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 1.1rem;
  font-style: oblique;
  font-weight: normal;
}
/* line 33, ../sass/_spaces.scss */
space .main p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 38, ../sass/_spaces.scss */
sep {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1000px;
}
