// Header of the page, always on the top
.header {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);
  position: fixed;
  top: 0; left: 0;
  width: 90%;
  height: 200px;
  z-index: 100;
  background: inherit;
  // Info Permanente
  presenter {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(space-around);
    @include align-items(center);
    height: 60%;
    background: transparent;
    padding: 1em 0;
    h1 {
      @include display-flex;
      font-family: $title-font;
      font-size: 3rem;
    }
    h2 {
      @include display-flex;
      font-family: $age-font;
      font-size: 1.8rem;
      font-weight: bold;
      span {
        font-family: $loc-naissance-font;
        margin-left: 1rem;
        font-weight: normal;
      }
    }
    studies {
      @include display-flex;
      font-size: 1.5rem;
      font-family: $title-font;
      font-weight: normal;
    }
  }
  // Link presentation
  menu {
    @include display-flex;
    height: 30%;
    width: 100%;
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(center);
    font-family: $age-font;
      font-size: 1.5rem;
    ul {
      @include display-flex;
      height: 100%;
      width: 80%;
      @include flex-direction(row);
      @include justify-content(space-around);
      @include align-items(center);
      li {
        @include display-flex;
      }
      a {
        @include display-flex;
        &:hover {
          font-weight: bold;
          font-style: italic;
          text-decoration: underline;
        }
      }
    }
    socialnetwork {
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-around);
      @include align-items(center);
      width: 15%;
      ul {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-around);
        @include align-items(center);
        width: 100%;
        li {
          @include display-flex;
          @include flex(1);
        }
        a {
          @include display-flex;
          @include flex(1);
          background: center center no-repeat;
          background-size: contain;
          height: 20px;
          &:hover {
            height: 30px !important;
          }
        }
        .twitter {
          background-image: $logo-twitter;
        }
        .viadeo {
          background-image: url(../../images/viadeo.svg);
        }
        .linkedin {
          background-image: url(../../images/linkedin.svg);
        }
      }
    }
  }
}