!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
      .menu
        %ul
          %li<
            %a{:href=>"./index.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      .espace
        %a(href="./espacepresse.html") ESPACE PRESSE
        %span &nbsp;| espace adhérents
      .container
        .bar
          .box.red
            %h1 PROGRAMME des stages
            %img{:height => "139", :width => "300", :src => "./images/im1-stage.png"}>
            %br
            %a(href="http://www.festival-saint-valery.fr/stages.html") présentation des stages 2014-2015
          .box.green
            %h1 SOUTENEZ LE FESTIVAL : adhérez à l'ASSOCIATION.
            %img{:alt=>"Toute l&#39;équipe de Théâtre en festival prépare la cinquième édition de ce rendez-vous culturel, voulu populaire et festif.", :height=>"163", :src=>"./images/adhesion.jpg", :width=>"420"}
            %p
              Rejoignez notre belle aventure. En adhérant,  vous aidez l'association mais vous pouvez aussi si vous le souhaitez participer activement à l'accomplissement de nos missions.
            %a(href="http://www.festival-saint-valery.fr/association.html")en savoir +
          .box.red
            %h1 LE FESTIVAL EST SUR FACEBOOK.
            %img{:height=>"163", :width=>"420", :src=>"./images/img6C.jpg"}
            %p
              %strong Le Festival de Saint Valery est présent sur Facebook.
              Un espace d'échanges et d'informations pour être au plus près du Festival, pendant le mois de juin, mais aussi toute l'année. Pour être les premiers informés de notre actualité.
            %a(href="https://fr-fr.facebook.com/Theatre.en.Festival")aller sur Facebook
        .content
          %span
            Le 6<sup>e</sup> festival de juin 2014 a été, comme les années précédentes, un réel succès : il a fermé ses portes après avoir accueilli près de 2000 spectateurs.
            %br
            Merci à toutes et à tous pour votre fidélité.
            %br
            Nous vous donnons rendez-vous pour le 7<sup>e</sup> festival de Théâtre de Saint Valery sur Somme qui aura lieu la dernière semaine de juin 2015. Vous pouvez retrouver les photographies de cette 6<sup>e</sup> édition sur notre
            %a.normal(href="https://fr-fr.facebook.com/Theatre.en.Festival")page Facebook</a>.
            %br
          %sep
          .red
            %a(href="http://www.festival-saint-valery.fr/pdfs/theatre_en_festival_stage_2014_2015.pdf")téléchargez les informations pour les stages au format PDF (24 Mo)
          %sep
          .thanks
            <span>Un grand merci</span> aux comédiens, metteurs en scène, administrateurs, et techniciens du spectacle vivant qui font vivre ces jours de théâtre.
          %sep
          %span
            %img{:height=>"96", :src=>"./images/nouvel33.jpg", :width=>"100"}
            %p
              <strong>L'histoire du Festival c'est aussi celle de ses affiches.</strong> <br /> Depuis la première édition, le dessinateur Virgile Antoine invente chaque année un dessin mettant en scène le personnage Walric. Une rétrospective qui suit les étapes de l'aventure.
            %a.green.d110(href="./affiches.html") voir les affiches
      .logo
        .band
          %img{:height=>"139", :src=>"./images/logo_stval.JPG", :width=>"134"}
          %img{:height=>"139", :src=>"./images/loco_comdecom.JPG", :width=>"189"}
          %img{:height=>"139", :src=>"./images/Logo_80_somme.jpg", :width=>"139"}
          %img{:height=>"139", :src=>"./images/logoregion.JPG", :width=>"139"}
        .band
          %img{:height=>"160",:src=>"./images/picardie_g_Converti_.jpg",:width=>"247"}
          %img{:height=>"160",:src=>"./images/img12.jpg",:width=>"96"}
          %img{:height=>"160",:src=>"./images/barbier.jpg",:width=>"217"}
          %img{:height=>"160",:src=>"./images/img15.jpg",:width=>"145"}
          %img{:height=>"160",:src=>"./images/Logo-France-Bleu-Picardie_reference.jpg",:width=>"160"}
        .band
          %img{:height=>"160",:src=>"./images/imgA1.jpg",:width=>"225"}
          %img{:height=>"160",:src=>"./images/imgE.jpg",:width=>"225"}
          %img{:height=>"160",:src=>"./images/imgC2.jpg",:width=>"232"}
        .band
          %img{:height=>"44",:src=>"./images/logo-proxinews.com.jpg",:width=>"241"}
          %img{:alt=>"Logo Le Courrier Picard", :height=>"74",:src=>"./images/280px-Logo_Le_Courrier_Picard.jpg",:width=>"143"}
          %img{:height=>"44",:src=>"./images/logo_picardieweb.gif",:width=>"230"}
        .band
          %img{:height=>"43",:src=>"./images/lejournaldabbeville.jpg",:width=>"250"}
          %img{:alt=>"L__CLAIR.gif",:src=>"./images/L__CLAIR.gif"}
        .band
          %img{:height=>"153",:src=>"./images/ecbs.jpg",:width=>"249"}
          %img{:height=>"152",:src=>"./images/evasion.jpg",:width=>"163"}
          %img{:height=>"160",:src=>"./images/irem.jpg",:width=>"167"}
        .band
          %img{:height=>"86",:src=>"./images/lien28.jpg",:width=>"283"}
          %img{:height=>"77",:src=>"./images/img3F.jpg",:width=>"176"}
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés