!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
      .menu
        %ul
          %li<
            %a{:href=>"./index.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      %header
        %span <p>mentions</p> légales
      .contentmention
        %h1 © THÉÂTRE EN FESTIVAL
        %h2 théatre en festival
        %span
          Siège social / Adresse de Correspondance.<br />Mairie - 19 place Saint Martin - 80230 Saint Valery sur Somme<br />SIRET : 509 385 191 00010 - CODE NAF : 9001Z
        %h2 DIRECTEUR DE LA PUBLICATION
        %span Jeannine PICHON
        %h2 HÉBERGEMENT
        %span Hébergement 007 / SARL LWS<br />4 rue Galvani - 75017 Paris
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés