.main {
  .container {
    .festival {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-around);
      @include align-items(stretch);
      line-height: normal;
      h1,h2 {
        text-transform: uppercase;
      }
      h1 {
        color: #FF6600;
        font-size: x-large;
        text-align: left;
        margin-bottom: 2ex;
      }
      h2 {
        text-align: left;
        font-weight: bold;
        font-size: 1.2rem;
        span {
          text-transform: lowercase;
        }
      }
      h3 {
        text-decoration: underline;
      }
      width: 45%;
      div {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-around);
        @include align-items(stretch);

        span {
          &.move {
            color: #FF6600;
            font-style: italic;
          }
          margin-bottom: 2ex;
        }
        a {
          margin-bottom: 2ex;
        }
      }

    }
    .other {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(flex-end);
      @include align-items(stretch);
      text-align: right;
      h1 {
        @include display-flex;
        @include justify-content(flex-end);
        text-transform: uppercase;
        color: #83A52B;
        font-size: large;

      }
      div {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(flex-end);
        @include align-items(stretch);
        text-align: right;

        ul {
          @include display-flex;
          @include flex-direction(column);
          @include justify-content(flex-end);
          text-align: right;
          font-family: Times,$fonts;

          li {
            text-align: right;
            margin: 5px;
            span {
              font-weight: bold;
            }
          }
        }
      }
      .ci {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-between);
       img {
          height: 372px;
          width: 436px;
        }
      }
      width: 45%;
    }
  }
}