.mstage {
  background-color: rgba(254,232,183,0.9);
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-self(center);
  @include align-items(stretch);
  .content {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(center);

    &.nc {
      @include align-items(flex-start);
    }
    width: 100%;
    padding: 20px;

    .pres {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-around);
      @include align-items(stretch);
      color: black;
      width: 30%;
      span {
        margin-bottom: 2em;
      }
      .image {
        background: url(../images/im1-stage.png) no-repeat center center;
        width: 80%;
        min-height: 115px;
        margin-bottom: 20px;
      }
    }

    .stage {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-around);
      width: 33%;
      padding: 5%;

      h1 {
        color: #6a5132;
        font-weight: large;
        margin-bottom: 15%;
        text-align: left;
      }
      ul {
        li {
          margin: 2% 0;
          &:first-of-type {
            margin-bottom: 5%;
          }

          a {
            font-weight: normal;
          }
        }
        span {
          font-weight: bold;
          font-style: italic;
          margin-right: 1ex;
        }
        sep {
          @include display-flex;
          height: 6ex;
        }
      }

      &:last-of-type {
        sep {
          height: 1ex;
        }
      }
    }

    .loc {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(stretch);
      color: black;
      width: 30%;
      text-align: justify;

      h2 {
        text-align: center;
        margin-bottom: 1em;
        color: #775c3e;
        line-height: 80px;
        font-weight: bold;
        font-size: x-large;
      }

      .block {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-around);
        @include align-items(stretch);
        span {
          margin-bottom: 2em;
        }

        a {
          margin-bottom: 2em;
        }
      }
      .image {
        background: url(../images/mascotte-stage.png) no-repeat center center;
        width: 80%;
        min-height: 259px;
        margin: 20px 0 100px;
      }
    }

    .intro {
      @include display-flex;
      @include flex-direction(column);
      @include justify-content(space-around);
      @include align-items(stretch);
      color: black;
      width: 30%;
      h1 {

        @include display-flex;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(stretch);
        text-align: left;
        margin-bottom: 2em;
        width: 80%;
        font-size: xx-large;

        span {
          text-align: right;
        }

        sep {
          height: 0.1ex;
        }
      }

      .image {
        background: url(../images/im2-stage-small.jpg) no-repeat center center;
        width: 80%;
        min-height: 256px;
        margin: 40px 0;
      }
    }
  }

  .progheader {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-around);
    @include align-items(center);
    padding-top: 10em;

    span {
      text-transform: uppercase;
      background-color: #e92a21;
      color: #fef6f5;
      font-size: large;
      padding: 5px;
    }
  }

  .progfooter {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
    span {
      margin: 0 1%;
      padding-bottom: 3%;
    }
  }
}