body {
  // frozen properties -------------------
  @include font-smoothing(antialiased);
  @include text-size-adjust();
  @include tap-highlight-transparent();
  @include user-select(none);
  @include display-flex;
  @include flex(1);
  @include flex-direction(column);
  width: auto;
  word-wrap: break-word;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
  overflow-x: hidden;
  // configurable properties -------------
  font-family: $fonts;
  font-size: $baseFontSize;
  color: $baseFontColor;
  line-height: 1.5;
  //width: 1vm;
}