body {
  // frozen properties -------------------
  @include font-smoothing(antialiased);
  @include text-size-adjust();
  @include tap-highlight-transparent();
  @include user-select(none);
  @include display-flex;
  @include flex-direction(column);
  word-wrap: break-word;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  padding: 1%;
  margin: 0;
  // configurable properties -------------
  background: $background-img $background-color no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: $fonts;
  font-size: 100%;
  color: $base-font-color;
  line-height: 1.5;
}