body {
  // frozen properties -------------------
  @include font-smoothing(antialiased);
  @include text-size-adjust();
  @include tap-highlight-transparent();
  @include user-select(none);
  @include display-flex;
  @include flex-direction(column);
  word-wrap: break-word;
  line-height: 20px;
  -webkit-backface-visibility: hidden;
  -webkit-user-drag: none;
  padding-right: 2%;
  margin: 0;
  // configurable properties -------------
  font-family: $fonts;
  font-size: $baseFontSize;
  color: $baseFontColor;
  line-height: 1.5;
}