.creation {
  background: #222222;


  // Photos Terrases Bois
  .terrassebois1 {
    background-image: url(../../images/terrasse/terrassebois2.jpg);
  }
  .terrassebois2 {
    background-image: url(../../images/terrasse/terrassebois3.jpg);
  }
  .terrassebois3 {
    background-image: url(../../images/terrasse/terrassebois4.jpg);
  }
  .terrassebois4 {
    background-image: url(../../images/terrasse/terrassebois5.jpg);
  }
  .terrassebois5 {
    background-image: url(../../images/terrasse/terrassebois6.jpg);
  }
  .terrassebois6 {
    background-image: url(../../images/terrasse/terrassebois7.jpg);
  }
  .terrassebois7 {
    background-image: url(../../images/terrasse/terrassebois8.jpg);
  }
  .terrassebois8 {
    background-image: url(../../images/terrasse/terrassebois9.jpg);
  }
  .terrassebois9 {
    background-image: url(../../images/terrasse/terrasseboiscomposite3.jpg);
  }

  // Photos Terrases Minérales/Pavés
  .terrassepavmin1 {
    background-image: url(../../images/terrasse/terrassedallage.jpg);
  }
  .terrassepavmin2 {
    background-image: url(../../images/terrasse/terrassedallage2.jpg);
  }
  .terrassepavmin3 {
    background-image: url(../../images/terrasse/terrassedallage3.jpg);
  }
  .terrassepavmin4 {
    background-image: url(../../images/terrasse/terrassedallage7.jpg);
  }
  .terrassepavmin5 {
    background-image: url(../../images/terrasse/terrassedallage5.jpg);
  }
  .terrassepavmin6 {
    background-image: url(../../images/terrasse/terrassedallage6.jpg);
  }
  .terrassepavmin7 {
    background-image: url(../../images/terrasse/terrassegravier1.jpg);
  }
  .terrassepavmin8 {
    display: none;
  }
  .terrassepavmin9 {
    display: none;
  }

  // Photos Menuiserie Paysagère
  .menuiserie1 {
    background-image: url(../../images/menuiserie/piscine1.jpg);
  }
  .menuiserie2 {
    background-image: url(../../images/menuiserie/escalier1.jpg);
  }
  .menuiserie3 {
    background-image: url(../../images/menuiserie/chalet2.jpg);
  }
  .menuiserie4 {
    background-image: url(../../images/menuiserie/pergola1.jpg);
  }
  .menuiserie5 {
    background-image: url(../../images/menuiserie/chalet1.jpg);
  }
  .menuiserie6 {
    background-image: url(../../images/menuiserie/pergola3.jpg);
  }
  .menuiserie7 {
    background-image: url(../../images/menuiserie/barriere1.jpg);
  }
  .menuiserie8 {
    background-image: url(../../images/menuiserie/barriere2.jpg);
  }
  .menuiserie9 {
    background-image: url(../../images/menuiserie/barriere3.jpg);
  }

  // Photos Cheminement
  .cheminement1 {
    background-image: url(../../images/cheminement/cheminement1.jpg);
  }
  .cheminement2 {
    background-image: url(../../images/cheminement/cheminement2.jpg);
  }
  .cheminement3 {
    background-image: url(../../images/cheminement/cheminement3.jpg);
  }
  .cheminement4 {
    background-image: url(../../images/cheminement/cheminement4.jpg);
  }
  .cheminement5 {
    background-image: url(../../images/cheminement/cheminement5.jpg);
  }
  .cheminement6 {
    background-image: url(../../images/cheminement/cheminement6.jpg);
  }
  .cheminement7 {
    background-image: url(../../images/cheminement/cheminement7.jpg);
  }
  .cheminement8 {
    background-image: url(../../images/cheminement/cheminement8.jpg);
  }
  .cheminement9 {
    background-image: url(../../images/cheminement/cheminement9.jpg);
  }

  // Photos Bassin
  .bassin1 {
    background-image: url(../../images/bassin/bassin1.jpg);
  }
  .bassin2 {
    background-image: url(../../images/bassin/bassin2.jpg);
  }
  .bassin3 {
    background-image: url(../../images/bassin/bassin3.jpg);
  }
  .bassin4 {
    background-image: url(../../images/bassin/bassin4.jpg);
  }
  .bassin5 {
    background-image: url(../../images/bassin/bassin5.jpg);
  }
  .bassin6 {
    background-image: url(../../images/bassin/bassin6.jpg);
  }
  .bassin8 {
    background-image: url(../../images/bassin/bassin7.jpg);
  }
  .bassin7 {
    display:none;
  }
  .bassin9 {
    display: none;
  }

  // Photos Soutenement
  .soutenement1 {
    background-image: url(../../images/soutenement/soutenement1.jpg);
  }
  .soutenement2 {
    background-image: url(../../images/soutenement/soutenement2.jpg);
  }
  .soutenement3 {
    background-image: url(../../images/soutenement/soutenement3.jpg);
  }
  .soutenement4 {
    background-image: url(../../images/soutenement/soutenement4.jpg);
  }
  .soutenement5 {
    background-image: url(../../images/soutenement/soutenement5.jpg);
  }
  .soutenement6 {
    visibility: hidden;
  }
  .soutenement7 {
    display: none;
  }
  .soutenement8 {
    display:none;
  }
  .soutenement9 {
    display: none;
  }

  // Photos Vegetal
  .vegetal1 {
    background-image: url(../../images/vegetal/vegetal1.jpg);
  }
  .vegetal2 {
    background-image: url(../../images/vegetal/vegetal2.jpg);
  }
  .vegetal3 {
    background-image: url(../../images/vegetal/vegetal3.jpg);
  }
  .vegetal4 {
    background-image: url(../../images/vegetal/vegetal4.jpg);
  }
  .vegetal5 {
    background-image: url(../../images/vegetal/vegetal5.jpg);
  }
  .vegetal6 {
    background-image: url(../../images/vegetal/vegetal6.jpg);
  }
  .vegetal7 {
    background-image: url(../../images/vegetal/vegetal7.jpg);
  }
  .vegetal8 {
    background-image: url(../../images/vegetal/vegetal8.jpg);
  }
  .vegetal9 {
    background-image: url(../../images/vegetal/vegetal9.jpg);
  }
}