header {
  @include display-flex;
  @include flex(1);
  @include flex-direction(column);
  @include justify-content(space-around);
  background: #000;
  background: $bandBackground no-repeat bottom center;
  background-size: cover;
  width: 100%;
  color: #fff;
  height: 100vh;
  padding: 0;
  margin: 0;

  band {
    @include display-flex;
    @include flex(1);
    @include flex-direction(row);
    @include justify-content(space-around);
    width: 100%;

    textes, p {
      @include display-flex;
      @include flex(1);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      min-width: 400px;
      h1, h2 {
        @include display-flex;
        @include flex(1);
        @include align-items(center);
        margin: 0 !important;
      }
      h1 {
        font: $cieNameFontSize $cieNameFontFamily;
      }
      h2 {
        font: $motoFontSize $motoFontFamily;
      }

      .quote, .entPresentation {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-around);
        @include align-items(center);
        @include align-self(center);
        width: 50%;
        text-align: justify;
        text-justify: inter-word;
        font-size: 2em;
      }

      .quote {
        font-style: $quoteFontStyle;
      }

      .signature {
        @include display-flex;
        @include flex-direction(column);
        @include justify-content(space-around);
        @include align-items(flex-end);
        @include align-self(center);
        width: 50%;
        font-family: $h1FontFamily;
        text-align: right;
        font-size: 3em;
        text-align: right;
      }

    }

    scontact {
      @include display-flex;
      @include flex(0.5);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);

      tel {
        @include display-flex;
        @include flex(1);
        @include justify-content(space-around);
        @include align-items(flex-end);
        width: 100%;
        padding: 5px;

      }
      address {
        @include display-flex;
        @include flex(1);
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-items(center);
        padding: 5px;

        street {
          @include display-flex;
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          padding: 5px 0;
        }

        span {
          @include display-flex;
          @include flex-direction(row);
          @include justify-content(space-between);
          @include align-items(center);
          width: 100%;

          cp {
            @include display-flex;
            @include flex(0.5);
            @include align-items(center);
            @include flex-direction(row);
            @include justify-content(flex-start);
          }

          city {
            @include display-flex;
            @include flex(1);
            @include align-items(center);
            @include justify-content(flex-end);
            @include flex-direction(row);
          }
        }
      }
    }
  }
}

nav {
  background: #000000;
  @include display-flex;
  @include flex(0.1);
  @include flex-direction(row);
  @include align-items(center);
  @include justify-content(space-around);
  height: 50px;
  ul {
    @include display-flex;
    @include flex-direction(normal);
    @include flex(1);
    @include justify-content(space-around);
    @include align-items(center);
    width: 100%;
    height: 100%;

    li {
      @include display-flex;
      @include flex(1);
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      text-align: center;
      height: 100%;
      a {
        @include align-items(center);
        @include display-flex;
        @include flex(1);
        @include justify-content(space-around);
        height: 100%;
        width: 100%;
        logo {
          @include display-flex;
          @include flex(1);
          @include justify-content(space-around);
          background: $logo center center no-repeat;
          background-size: contain;
          height: 100%;
          width: 100%;
        }
      }
      &:hover {
      }
    }
  }
}

.nav-fixed {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  ~ space {
    height: 80px;
  }
}

