header {
  @include display-flex;
  @include flex(1);
  @include flex-direction(column);
  @include justify-content(space-around);
  background: #000;
  background: $bandBackground no-repeat bottom center;
  background-size: cover;
  z-index: 1000;
  position: fixed;
  min-height: 160px;
  left: 0;
  top: 0;
	right: 0;
  width: 100%;

	band {
      @include display-flex;
      @include flex(1);
	  @include flex-direction(row);
	  @include justify-content(space-around);
  	width: 100%;

		logo {
          @include display-flex;
          @include flex(0.5);
		  @include justify-content(space-around);
          background: $logo center center no-repeat;
          background-size: contain;
		}

		textes {
			@include display-flex;
			@include flex(1);
		  @include flex-direction(column);
		  @include justify-content(space-around);
		  @include align-items(center);
      h1, h2 {
        @include align-items(center);
        margin: 0 !important;
      }
			h1 {
				font: $cieNameFontSize $cieNameFontFamily;
			}
			h2 {
				font: $motoFontSize $motoFontFamily;
			}
		}

		scontact {
			@include display-flex;
			@include flex(0.5);
		  @include flex-direction(column);
		  @include justify-content(center);
		  @include align-items(center);

		  tel {
				@include display-flex;
				@include flex(1);
			  @include justify-content(space-around);
			  @include align-items(flex-end);
			 	width: 100%;
			 	padding: 5px;

		  }
		  address {
				@include display-flex;
				@include flex(1);
			  @include flex-direction(column);
			  @include justify-content(flex-start);
			  @include align-items(center);
			 	padding: 5px;

		  	street {
					@include display-flex;
				  @include flex-direction(column);
				  @include justify-content(center);
				  @include align-items(center);
			 		padding: 5px 0;
		  	}

		  	span {
					@include display-flex;
				  @include flex-direction(row);
				  @include justify-content(space-between);
				  @include align-items(center);
			 		width: 100%;

		  		cp {
						@include display-flex;
						@include flex(0.5);
					  @include align-items(center);
				  	@include flex-direction(row);
				  	@include justify-content(flex-start);
		  		}

		  		city {
						@include display-flex;
						@include flex(1);
					  @include align-items(center);
				  	@include justify-content(flex-end);
				 		@include flex-direction(row);
		  		}
		  	}
		  }
		}
	}
	nav {
		@include display-flex;
		@include flex(0.1);
	  @include flex-direction(row);
	  @include justify-content(space-around);
	  margin-top: 1.5em;

    ul {
      @include display-flex;
      @include flex-direction(normal);
			@include flex(1);
      @include justify-content(space-around);
      width: 100%;
      min-height: 1ex;

      li {
        @include display-flex;
				@include flex(1);
        @include flex-direction(column);
        @include justify-content(center);
        text-align: center;
        min-width: 140px;
        padding: 5px;
        @include border-radius(4px);
        min-height: 1ex;
        max-height: 20px;

        ul {
          position: relative;
			@include display-flex;
			@include flex(1);
          @include flex-direction(column);
          @include justify-content(flex-start);

          li {
			@include display-flex;
			@include flex(1);
		    @include flex-direction(column);
            border: none;
            min-height: 15px;
            height: 30px;
            padding: 5px;
            position: relative;

            ul {
              position: absolute;
			        @include display-flex;
							@include flex(1);
		          @include flex-direction(column);
		          @include justify-content(flex-start);
              left: 15vw;
              padding: 0 10px;
              top: 0;
              li {
                position: relative;
                min-height: 15px;
              }
              display: none;
            }
          }
          &:first-child {
            padding-top:30px;
          }

          display: none;
        }

        &:hover {

          max-height: 500px;

          @media screen and (min-width:1030px) {
            ul {
              @include display-flex();

              ul {
                display: none;
              }
          }
        }
      }
    }
  }
}
}

space {
	height: 160px;
}
