// Text Mixins
// --------------------------------------------------

@mixin text-size-adjust($value: none) {
  -webkit-text-size-adjust: $value;
     -moz-text-size-adjust: $value;
          text-size-adjust: $value;
}
@mixin tap-highlight-transparent() {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; // For some Androids
}
@mixin touch-callout($value: none) {
  -webkit-touch-callout: $value;
}


// Font Mixins
// --------------------------------------------------

@mixin font-smoothing($font-smoothing) {
  -webkit-font-smoothing: $font-smoothing;
          font-smoothing: $font-smoothing;
}

// User select
// --------------------------------------------------

@mixin user-select($select) {
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select;
          user-select: $select;
}

// BreakPoint mixins
@mixin onSmallScreenAndAbove() {  // Only as a reminder that small screens are the default
  @content;
}

@mixin above($minWidth) {
  @media (min-width: $minWidth) {
    @content;
  }
}
@mixin aboveSmallScreen() {
  @media (min-width: $breakingPointSmall) {
    @content;
  }
}
@mixin aboveMediumScreen() {
  @media (min-width: $breakingPointMedium) {
    @content;
  }
}

@mixin aboveLargeScreen() {
  @media (min-width: $breakingPointLarge) {
    @content;
  }
}
@mixin aboveExtraLargeScreen() {
  @media (min-width: $breakingPointExtraLarge) {
    @content;
  }
}

@mixin aboveMainMenuHeight($correctHeight: 0) {
  $screenHeight: $breakingPointMenuHeight + convert-unit($correctHeight, 'em');
  @media (min-height: $screenHeight + 0.0625em) {
    @content;
  }
}