.remarquable {
  background-color: $remarquableBackgroundColor;
  h1 {
    width: 100%;
    background: $frutiPresPhoto center center no-repeat;
    background-size: cover;
    min-height: $h1MinHeight;
    height: $h1Height;
  }

  a {
    padding: 0;
  }

  label {
    @include display-flex();
    @include flex-direction(column);
    @include flex(1);
    @include justify-content(space-around);
  }

  span {
    margin: 1em 0;
    &:first-child {
      @include justify-content(space-around);
    }
  }
  // Photos Fruticetums.
  .fruti1 {
    background-image: url(/images/fruticetum/fruticetum_long.jpg);
  }
  .fruti2 {
    background-image: url(/images/fruticetum/fruticetum_abri.jpg);
  }
  .fruti3 {
    background-image: url(/images/fruticetum/fruticetum_egrennoire2.jpg);
  }
  .fruti4 {
    background-image: url(/images/fruticetum/fruticetum.jpg);
  }
  .fruti5 {
    background-image: url(/images/fruticetum/fruticetum_muraille.jpg);
  }
  .fruti6 {
    background-image: url(/images/fruticetum/fruticetum_vue_bassin.jpg);
  }
  .fruti7 {
    background-image: url(/images/fruticetum/fruticetum_cordage.jpg);
  }
  .fruti8 {
    background-image: url(/images/fruticetum/fruticetum_long_bassin.jpg);
  }
  .fruti9 {
    background-image: url(/images/fruticetum/fruticetum_rampe.jpg);
  }
}