// Definition of all the variable style and objects

// Fonts ---------------------
@font-face {
  font-family: 'serena';
  src: url('../../fonts/serena.ttf') format('truetype');
}

$fonts:                       Georgia, !default;
$baseFontColor:               #fff;
$baseFontSize:                1.1em;

// Body ----------------------
//$background-img:              url(../../background.png);
$background-color:            #fff;

// Breaking points ----------
//////  < 540, 541-768, 1024-1199, 1200+ px
$breakingPointSmall: 33.75em; // 540px/16px 540px
$breakingPointMedium: 48em; // 768px/16px
$breakingPointLarge: 64em; // 1024px/16px
$breakingPointExtraLarge: 75em; // 1200px/16px
$breakingPointMultiSliders: 120em; //1920px/16px

//$breakingPointMenuHeight: $mainNavButtonHeight * 10;

// Pages --------------------
// Background Colors --------
$creationBackgroundColor:    #191C1F;
$remarquableBackgroundColor: #A6CFE5;
$contactBackgroundColor:     #A6CFE5;
$openingBackgroundColor:     #444A28;
$entretientBackgroundColor:  #444A28;


//$creationBackgroundColor:    #fff;
//$remarquableBackgroundColor: #fff;
//$contactBackgroundColor:     #fff;
//$openingBackgroundColor:     #fff;
//$entretientBackgroundColor:  #fff;

// ----- Title --------------
// ---------- h1 ------------
//$h1FontColor:                #388E3C;
$h1FontColor:                #388E3C;
$h1FontSize:                 3.2rem;
$h1FontFamily:               'serena';
// ---------- h2 ------------
$h2FontColor:                #388E3C;
$h2FontSize:                 2.8em;
$h2FontFamily:               'serena';
// ---------- h3 ------------
$h3FontColor:                #388E3C;
$h3FontSize:                 2.5em;
$h3FontFamily:               'serena';

// ----- Contents -----------
// ----------- quotes -------
$quoteFontStyle:             italic;
$quoteColor:                 #0B610B;

$frutiPresPhoto:             url(../../images/fruticetum/fruticetum_vue_bassin.jpg);

// Menu & cie ---------------

// Logo social network ------
$cieNameFontSize:            3.2rem;
$cieNameFontFamily:         'serena';
$motoFontSize:               3.2rem;
$motoFontFamily:            'serena';
$logo:                       url(../../images/logo.svg);
$cactusGreen:                url(../../images/cactus_green.svg);
$cactusBlack:                url(../../images/cactus_black.svg);
$bandBackground:             url(../../images/bandeau.jpg);


// PSWP Variables
$pswp__show-hide-transition-duration: 333ms !default;
$pswp__controls-transition-duration: 333ms !default;
$pswp__background-color: #000 !default;
$pswp__placeholder-color: #222 !default;
$pswp__box-sizing-border-box: true !default; // disable .pswp * { box-sizing:border-box } (in case you already have it in your site css)
$pswp__root-z-index: 1500 !default;
$pswp__assets-path: './sass/default-skin/' !default; // path to skin assets folder (preloader, PNG and SVG sprite)
$pswp__error-text-color: #CCC !default; // "Image not loaded" text color
$pswp__include-minimal-style: true !default;