.tarifs {
  label{
    position: relative !important;
    top: 0 !important;
    z-index: inherit !important;
    padding: 10px !important;
  }
}
[type=checkbox] {
  display: none;
}
// Table like elements
.solo {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);
  ul {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(flex-start);
    width: 70%;
    margin: 1em 0;
    li {
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(center);
      width: 100%;
      &.lheader {
        .name, .pt, .tr, .date {
          @include align-items(center);
          @include justify-content(center);
          text-align: center;
        }
      }
      .date, .price {
        @include display-flex;
        @include flex(1);
        min-width: 160px;
        text-align: center;
        font-width: bold;
        font-style: italic;
      }
      .none {
        background-color: rgba(0,0,0,0.2);
      }     
      .name, .pt, .tr, .date {
        border: 1px solid red;
        padding: 2px 5px;
        @include align-items(center);
      }
      .name {
        @include display-flex;
        @include flex(1.2);
        font-style: italic;
        font-weight: bold;
        border-left-width: 2px;
        min-width: 380px;
      }
      .pt, .tr, .date, .price {
        @include display-flex;
        @include flex(1);
        text-align: center;
        @include justify-content(center);
      }
      .pt{
        min-width:100px;
      }
      .date {
        border-right-width: 2px;
        min-width:140px;
      }
      &:first-child {
        .name, .pt, .tr, .date {
          border-top-width: 2px;
        }
      }
      &:last-child {
        .name, .pt, .tr, .date {
          border-bottom-width: 2px;
        }
      }
    }
  }
  &.date {
    ul {
      .date {
        border: 1px solid red;
        border-right-width: 2px;
        border-left-width: 2px;
        min-width: calc(380px + 240px);
        width: 100%;
        padding: 2px 0;
        text-align: center;
      }
      .tr{
        border-right-width: 2px;
      }
    }
  }
  &.price, &.pricer {
    ul {
      .price {
        border: 1px solid red;
        border-right-width: 2px;
        border-left-width: 2px;
        min-width: calc(380px + 240px);
        width: 100%;
        padding: 2px 0;
      }
    }
  }
}

.passeport {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  ul {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-around);
    width: 70%;
    li {
      @include display-flex;
      @include flex-direction(column);      
      padding: 1em 10px;
      &.des {
        @include flex(1.5);
      }
      &.price {        
        @include justify-content(space-around);
        @include align-items(center);
        @include flex(1);
      }
      border: 1px solid blue;
      .intro {
        padding: 10px;
      }
      .sp1 {

      }
      .sp2 {
        margin-left: 1em;
      }
      .sp3 {
        margin-left: 3em;
      }
      .sp4 {
        margin-left: 5em;
      }
      .sp5 {
        margin-left: 7em;
      }
    }
  }
}

.selector {
  @include display-flex;
  @include justify-content(space-around);
  width: 100%;
  ul {
    @include display-flex;
    @include flex-direction(column);
    width: 80%;
    min-width: 750px;
    li {
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(center);

      ul {
        @include display-flex;
        @include flex-direction(row);
        @include justify-content(space-around);

        li {
          @include display-flex;
          padding: 10px 1rem;
          cursor: pointer;

          &:hover {
            background-color: rgba(240, 195, 0, 0.7);
          }
          &:first-child{
            pointer-events: none;
            padding: 20px calc(20px + 1rem);
          }
        }
      }
    }
  }
}
// Checked printer (display one el and masked the overs while checked/unchecked relative radio)
[type=radio]:checked {
  &#date  {
    ~ .selector {
      .date {
        background-color: red !important;
      }
      .price, .name, .pricer{
        background-color: transparent !important;
      }
    }
    ~ .date {
      @include display-flex-imp;
    }
    ~ .price, ~ .name, ~ .pricer{
      display: none !important;
    }
  }
  &#price {
     ~ .selector {
      .price {
        background-color: red !important;
      }
      .date, .name, .pricer{
        background-color: transparent !important;
      }
    }
    ~ .price {
      @include display-flex-imp;
    }
    ~ .date, ~ .name, ~ .pricer {
      display: none !important;
    }
  }
  &#pricer {
    ~ .selector {
      .pricer {
        background-color: red !important;
      }
      .date, .name, .price {
        background-color: transparent !important;
      }
    }
    ~ .pricer {
      @include display-flex-imp;
    }
    ~ .date, ~ .name, ~ .price {
      display: none !important;
    }
  }
  &#name {
     ~ .selector {
      .name {
        background-color: red !important;
      }
      .price, .date, .pricer {
        background-color: transparent !important;
      }
    }
    ~ .name {
      @include display-flex-imp;
    }
    ~ .price, ~ .date, ~ .pricer {
      display: none !important;
    }
  }
}

// Checked printer (display and masked elements while checked/unchecked relative checkbox)
[type=checkbox]:checked {
  &#j {
    ~ .selector {
      .j {
        background-color: green !important;
      }
      .v, .s, .d {
        background-color: transparent;
      }
    }
     ~ .solo {
      .j {
        @include display-flex-imp;
      }
      .v, .s, .d {
        display: none;
      }
    }
  }
  &#v {
    ~ .selector {
      .v {
        background-color: green !important;
      }
      .j, .s, .d {
        background-color: transparent;
      }
    }
     ~ .solo {
      .v {
        @include display-flex-imp;
      }
      .j, .s, .d {
        display: none;
      }
    }
  }
  &#s {
    ~ .selector {
      .s {
        background-color: green !important;
      }
      .v, .j, .d {
        background-color: transparent;
      }
    }
     ~ .solo {
      .s {
        @include display-flex-imp;
      }
      .v, .j, .d {
        display: none;
      }
    }
  }
  &#d {
    ~ .selector {
      .d {
        background-color: green !important;
      }
      .v, .s, .j {
        background-color: transparent;
      }
    }
     ~ .solo {
      .d {
        @include display-flex-imp;
      }
      .v, .s, .j {
        display: none;
      }
    }
  }
}