!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Cactus Espaces Vert
    %link{:href => "./css/stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"images/favicon.png"}/

  %body
    .main
      %section.slideshow
        .container
          .c_slider
          .slider.animate
            %figure