/* CSS Document */
<STYLE type="text/css">


        
{
	FONT-FAMILY: Comic Sans MS, Geneva, Helvetica, sans-serif
}

.titre1/*titre Cactus espace vert*/ { FONT-SIZE: xx-large ; font-style:none; font-weight:normal; COLOR: rgb(167,9,9) ; text-align: center; FONT-FAMILY: Comic Sans MS, Geneva CE, Helvetica;
}

.titre2/*titre Le jardin plus proche de la nature*/
 {FONT-SIZE: x-large; font-style:none; font-weight:normal; COLOR: rgb(167,7,7); text-align: center; FONT-FAMILY: Zapfino, Comic Sans MS, Geneva CE, Helvetica;
}

.textemenu {
font-size: large;
 color: rgb(51, 51, 255);
  font-weight: none;
  text-decoration: none;
  FONT-FAMILY: Comic Sans MS, Arial Narrow, Helvetica;
}
.titre3 {
 color: rgb(176, 48, 96);
  font-size: x-large;
  text-align: center
  font-weight: none;
  text-decoration:none;
  FONT-FAMILY: Comic Sans MS, Geneva CE, Helvetica;
}
.textepage {
   font-size: x-large;
   font-weight:normal;
   color: blue;  
   font-family: Comic Sans MS, Geneva CE, Helvetica;
}

.textepageaccueil {
   font-size: x-large;
   font-weight:normal;
   color: blue;  
   font-family: Comic Sans MS, Geneva CE, Helvetica;
}


.titrepage {
  color: blue;
  font-size: large;
  text-align: ;
  font-weight: none;
  text-decoration:underline;
  FONT-FAMILY: Comic Sans MS, Geneva CE, Helvetica;
  }

.image {
border: none;
}

.info {font-family: Zapfino, Comic Sans MS, Geneva CE, Helvetica;
       font-size: xx-large;
       color:red;
       text-align: center  }
       
.commentaire {
  color: rgb(255, 185, 15);
  font-size: large;
  text-align: ;
  font-weight: none;
  text-decoration:underline;
  FONT-FAMILY: Sand, Geneva CE, Helvetica;
  }

</STYLE>

