!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: site officiel
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
        .logo
        .txt
          .name
            Association Théâtre en Festival
          .action
            Festival de Théâtre Saint Valery sur somme
      .menu
        %ul
          %li<
            %a{:href=>"./index.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      %header
        %span <p class="nobreak">l'asso </p> ciation
        .intro
          .logomask
          %span
            L'association Théâtre en Festival a pour objectir d'organiser d'une part le Festival de Théâtre de Saint Valery, mais aussi la mission de sensibilisation et de formation théâtrale sur le territoire de Picardie Maritime. Ouverte à tous, Théâtre en Festival est une structure à but non lucratif qui réunit aujourd'hui 260 membres intéressés par la vie théâtrale et culturelle de notre pays.
      .container.center
        .informations
          %span
            L'association d’abord intitulée Festival a été créée en juin 2008, par Yann Palheire - comédien et originaire de la petite ville de Saint Valery sur Somme. C'est par une première campagne sur Internet, mais aussi par un travail de porte-à-porte que nous avons commencé à faire connaître le projet. Quinze personnes répondirent présents et soutinrent d’abord, par un système de préadhésion, l’aventure naissante. En octobre de la même année, l'acteur présenta son projet au cours de ce qui allait être la véritable assemblée constitutive de notre association. Ce soir là, 35 personnes adhérèrent officiellement au projet. Tous furent sensibles à une démarche atypique&nbsp;: celle de fonder - entre habitants d'une cité - un festival de dimension nationale quand ce genre d'événements étaient alors jusque là généralement créés par des collectivités territoriales. Il y avait dans le cœur de ces premières personnes mobilisées l'amour du patrimoine artistique de la Baie de Somme et l’envie de le voir vivant. Mais il s'avérait surtout qu'elles étaient de potentiels spectateurs, en manque d’offres dans le domaine théâtral. Ce public naissant et désireux de voir des spectacles, nous l’avions ressenti déjà depuis plusieurs années. Au fil du temps, cette parenté adhérent-spectateur ne s'est jamais démentie. À l'aube du premier festival, en juin 2009,&nbsp;l'association comptait 50 adhérents&nbsp;: ils furent les bâtisseurs de la première édition. À la rentrée suivante, forts du premier succès, nous étions 75 à composer notre structure. Déjà nous avions compris que le cap de la petite association de proximité était dépassé, et que c'était une toute autre dimension que les gens d'ici voulaient donner à cette aventure. Le nombre d'adhérents n’a cessé d'augmenter. Aujourd'hui, l'association désormais appelée «&nbsp;Théâtre en Festival&nbsp;» compte 260 membres.
          %h2 Des convictions partagées
          %span
            Ce n'est pas un petit groupe auquel des services sont proposés, l'esprit est tout autre. Chaque personne se sent responsable du festival, chacun peut participer librement - selon ses savoirs et ses désirs - à la fabrication de la manifestation. Mais en adhérant, chaque personne exprime des convictions et adopte volontairement des valeurs. C'est au service d’une certaine conception culturelle que chacun se met à disposition : la notion de&nbsp;«&nbsp;théâtre populaire&nbsp;» apparaît comme un fondement dans les statuts de notre association, auxquels les membres se doivent d'adhérer. Ainsi chacun fait connaître le festival au plus grand nombre, invite des personnes de tous horizons à nous rejoindre mais surtout convie autour de lui les populations à assister, sans crainte ni pudeur, aux représentations théâtrales. C'est ainsi que nous avons vu naître à l'intérieur de l'association, mais aussi au dehors, un riche tissu de spectateurs actifs. Cet espace associatif est aussi un lieu de débats passionnants, il permet aussi aux hommes et aux femmes qui le constituent d'être fiers de contribuer à un projet collectif. Car la dimension humaine n'est pas en reste, l'association Théâtre en Festival a tissé à Saint Valery des liens amicaux nombreux. Ici, les habitants d'une cité (et bien au-delà) se réunissent, débattent, s’emparent activement de leur avenir culturel, pour le restituer au plus grand nombre.
        .administration
          .pict
          .membership
            %h1 Rejoignez l'association
            %span
              Les dix euros que vous versez en adhérant à Théâtre en Festival ne font pas que vous ouvrir les portes de notre association, ils participent à son fonctionnement de tout au long de l'année. C'est à la fois pour nous un soutien moral et un soutien financier de taille.
            %span
              Nous pouvons ainsi organiser le Festival de Saint Valery ainsi que tous les stages de pratique théâtrale que nous proposons à l'année.Vous participez activement à la vie culturelle et artistique de la région, et vous devenez membre d'une aventure artistique collective passionnante.
            %a(href="./adhesion.html")
          .donnation
            %h1 Faîtes un don
            %span
              C'est uniquement grâce à votre générosité que notre aventure atypique peut exister. Vos dons donnent droit à une réduction d'impôts de 66% dans la limite de 20% de votre revenu imposable. Profitez-de cette déduction en faisant vivre le festival !
            %span
              Ainsi un don de 100€ ne vous coûte que 34€ après déduction fiscale.<br />Ainsi un don de 50€ ne vous coûte que 17€ après déduction fiscale.
            %a(href="./don.html")
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés