.main {
  // frozen properties -------------------
  top: 0;
  left: 0;
  @include display-flex();
  @include flex();
  @include flex-direction(column);
  @include align-items(center);
  margin: 0;
  padding: 27px;
  width: 960px;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  vertical-align: baseline;
  background-color: white;
}