.main {
  .membership {
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    width: 80%;
    margin: 1.5rem 0;
    line-height: 150%;

    h1 {
      color: black;
      font-size: medium;
      font-weight: normal;
      a {
        font-size: medium;
        text-decoration: underline;
      }
    }

    span {
      font-size: small;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      margin: 1.5rem 0;

      &:first-of-type, &:last-child {
        font-weight: normal;
        margin: 0;
      }
    }
  }
}