!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}/
    %title Festival de Saint Valery sur Somme :: adhésion
    %link{:href => "./stylesheets/style.css", :rel => "stylesheet", :type =>"text/css", :title => "style"}/
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "./images/favicon.ico"}/
    %link{:rel => "icon", :type=>"image/png", :href=>"./images/favicon.png"}/
    %script{:type=>"text/javascript", :src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"./js/menu.js"}
  %body
    .header
      .bandeau
      .menu
        %ul
          %li<
            %a{:href=>"./index.html"} ACCUEIL
          %li<
            %a{:href=>"./programme.html"} PROGRAMME
          %li<
            %a{:href=>"./infospratiques.html"} INFOS PRATIQUES
          %li<
            %a{:href=>"./tarifs.html"} TARIFS
          %li<
            %a{:href=>"./association.html"} L'ASSOCIATION
          %li<
            %a{:href=>"./stages.html"} LES STAGES
          %li<
            %a{:href=>"./partenaires.html"} PARTENAIRES
          %li<
            %a{:href=>"./contact.html"} CONTACT
    %br
    %br
    .main
      %header
        %span
          %p.nobreak j'ad
          hère
        .intro
          %span
            Simple  soutien moral ou financier, ou envie de participer à la vie de l'association Théâtre en Festival, votre adhésion nous motive à continuer. Elle permet aussi à cette belle aventure et au Festival de Théâtre de Saint Valery de devenir un rendez-vous incontournable. Rejoignez-nous !
      .membership
        %h1
          Téléchargez le bulletin d'adhésion en
          %a(href="./pdfs/adhesion.pdf")cliquant ici
        %span Renvoyez-le à l'adresse
        %span Théâtre en Festival<br />Mairie<br />19, Place Saint Martin<br />80230 Saint Valery sur Somme
        %span Accompagné de votre chèque de cotisation
      .mention
        %a(href="mentionslegales.html") Mentions Légales
        | Copyright © Théâtre en Festival. Tous droits réservés