<!-- ########################### BASSIN PART ########################## -->
<div class="main">
	<h2>Bassin</h2>
	<div class="presenter">
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo bassin1"></div>
					<div class="photo bassin2"></div>
					<div class="photo bassin3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo bassin4"></div>
					<div class="photo bassin5"></div>
					<div class="photo bassin6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo bassin7"></div>
					<div class="photo bassin8"></div>
					<div class="photo bassin9"></div>
				</div>
			</div>

		</label>
	</div>
</div>
<!-- ################################################################## -->