<!-- ######################## CHEMINEMENT PART ######################## -->
<div class="main">
	<h2>Cheminement</h2>
	<p></p>
	<div class="presenter">
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo cheminement1"></div>
					<div class="photo cheminement2"></div>
					<div class="photo cheminement3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo cheminement4"></div>
					<div class="photo cheminement5"></div>
					<div class="photo cheminement6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo cheminement7"></div>
					<div class="photo cheminement8"></div>
					<div class="photo cheminement9"></div>
				</div>
			</div>

		</label>
	</div>

</div>
<!-- ################################################################## -->