<!-- ######################## CHEMINEMENT PART ######################## -->

<div class="main">
		<h2>Cheminement</h2>
		<p>
			Layus sur la création terrasses ?
		</p>
		<div>
			<h3>Cheminement Pavées</h3>
			<p>
				Présentation Cheminement pavées, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Cheminement Pavées 1" />
				<img alt="Cheminement Pavées 2" />
				<img alt="Cheminement Pavées 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Cheminement Bois</h3>
			<p>
				Présentation Cheminement bois, pk, choix des bois, etc.
			</p>
			<div class="presenter">
				<img alt="Cheminement Bois 1" />
				<img alt="Cheminement Bois 2" />
				<img alt="Cheminement Bois 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Terrasses Minérales</h3>
			<p>
				Présentation Cheminement minérales, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Cheminement Minérales 1" />
				<img alt="Cheminement Minérales 2" />
				<img alt="Cheminement Minérales 3" />
				<img alt="etc." />
			</div>
		</div>
	</div>
	<!-- ################################################################## -->	