<!-- CREATIONS Template
	Contain ALL informations for creation place.

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<div class="creation">
	<div class="title">
        <div class="image creation_title"></div>
        <div class="textes">
            <h1>Créations</h1>
            <p>
                Le jardin est un espace de détente. Il doit être en cohérence avec votre identité et votre environnement. Il doit aujourd’hui, être durable et éco-responsable. Son entretien ne doit pas devenir contraignant.
            </p>
        </div>
    </div>
	<!-- ################################################################## -->
	<!-- ######################### TERRASSES PART ######################### -->
	<div>
        <div class="element">
            <h2>Terrasses Bois</h2>
            <p>
                Dans une démarche écoresponsable, nous ne proposons pour votre espace terrasse que des bois de résineux ou feuillus issus de forêt européenne .
                Nos essences : Mélèze , Douglas , Pin , Chêne .
            </p>
        </div>
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo terrassebois1"></div>
					<div class="photo terrassebois2"></div>
					<div class="photo terrassebois3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassebois4"></div>
					<div class="photo terrassebois5"></div>
					<div class="photo terrassebois6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassebois7"></div>
					<div class="photo terrassebois8"></div>
					<div class="photo terrassebois9"></div>
				</div>
			</div>
		</label>
	</div>
	<div>
        <div class="element">
            <h2>Terrasses Pavées et Minérales</h2>
            <p>
				Afin de bénéficier d'un espace durable, moderne et zen.
				Nous vous proposons une large gamme de matières et de couleurs pour
				l'espace minérale qui vous ressemble.
			</p>
        </div>
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo terrassepavmin1"></div>
					<div class="photo terrassepavmin2"></div>
					<div class="photo terrassepavmin3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassepavmin4"></div>
					<div class="photo terrassepavmin5"></div>
					<div class="photo terrassepavmin6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassepavmin7"></div>
					<div class="photo terrassepavmin8"></div>
					<div class="photo terrassepavmin9"></div>
				</div>
			</div>

		</label>
	</div>
	<!-- ################################################################## -->
	<!-- #################### MENUISERIE PAYSAGÈRE PART ################### -->
	<div>
        <div class="element">
            <h2>Menuiserie paysagère</h2>
            <p>
				Afin de vous fournir un confort et un profit optimal de votre jardin, nous
				vous proposons diverses gammes de banc, bac, pergola, chalet ou piscine en bois.
			</p>
        </div>
		<div class="presenter">
			<label for="btn-photoswipe" class="photoswipe">
				<div class="presenter photoswipe">
					<div class="presenter-row">
						<div class="photo menuiserie1"></div>
						<div class="photo menuiserie2"></div>
						<div class="photo menuiserie3"></div>
					</div>
					<div class="presenter-row">
						<div class="photo menuiserie4"></div>
						<div class="photo menuiserie5"></div>
						<div class="photo menuiserie6"></div>
					</div>
					<div class="presenter-row">
						<div class="photo menuiserie7"></div>
						<div class="photo menuiserie8"></div>
						<div class="photo menuiserie9"></div>
					</div>
				</div>

			</label>
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- ######################## CHEMINEMENT PART ######################## -->
	<div>
        <div class="element">
            <h2>Cheminement</h2>
            <p>
				Votre jardin est aussi un espace de déplacement. Prévoyez les déplacements au sein de celui-ci afin
				d'en faire une découverte et une circulation agréable.
			</p>
        </div>
		<div class="presenter">
			<label for="btn-photoswipe" class="photoswipe">
				<div class="presenter photoswipe">
					<div class="presenter-row">
						<div class="photo cheminement1"></div>
						<div class="photo cheminement2"></div>
						<div class="photo cheminement3"></div>
					</div>
					<div class="presenter-row">
						<div class="photo cheminement4"></div>
						<div class="photo cheminement5"></div>
						<div class="photo cheminement6"></div>
					</div>
					<div class="presenter-row">
						<div class="photo cheminement7"></div>
						<div class="photo cheminement8"></div>
						<div class="photo cheminement9"></div>
					</div>
				</div>

			</label>
		</div>

	</div>
	<!-- ################################################################## -->
	<!-- ########################### BASSIN PART ########################## -->
	<div>
        <div class="element">
            <h2>Bassin</h2>
            <p>
				Apportez à votre jardin une touche de fraîcheur aquatique.
			</p>
        </div>
		<div class="presenter">
			<label for="btn-photoswipe" class="photoswipe">
				<div class="presenter photoswipe">
					<div class="presenter-row">
						<div class="photo bassin1"></div>
						<div class="photo bassin2"></div>
						<div class="photo bassin3"></div>
					</div>
					<div class="presenter-row">
						<div class="photo bassin4"></div>
						<div class="photo bassin5"></div>
						<div class="photo bassin6"></div>
					</div>
					<div class="presenter-row">
						<div class="photo bassin7"></div>
						<div class="photo bassin8"></div>
						<div class="photo bassin9"></div>
					</div>
				</div>

			</label>
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- ######################## SOUTÈNEMENT PART ######################## -->
	<div>
        <div class="element">
            <h2>Soutènement</h2>
            <p>
                Le mur de soutènement est un mur vertical qui permet de
                contenir des terres sur une surface réduite.
            </p>
        </div>
		<div class="presenter">
			<label for="btn-photoswipe" class="photoswipe">
				<div class="presenter photoswipe">
					<div class="presenter-row">
						<div class="photo soutenement1"></div>
						<div class="photo soutenement2"></div>
						<div class="photo soutenement3"></div>
					</div>
					<div class="presenter-row">
						<div class="photo soutenement4"></div>
						<div class="photo soutenement5"></div>
						<div class="photo soutenement6"></div>
					</div>
					<div class="presenter-row">
						<div class="photo soutenement7"></div>
						<div class="photo soutenement8"></div>
						<div class="photo soutenement9"></div>
					</div>
				</div>

			</label>
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- ########################## VÉGÉTAL PART ########################## -->
	<div>
        <div class="title">
			<div class="image vegetal_title"></div>
            <div class="textes">
				<h2>Végétal</h2>
				<p>
                    Afin de nous adapter au mieux à l'environnement particulier de la
                    baie de Somme, nous travaillons avec des essences adaptées en
                    fonction de votre localisation.
                </p>
			</div>
        </div>
		<div class="presenter">
			<label for="btn-photoswipe" class="photoswipe">
				<div class="presenter photoswipe">
					<div class="presenter-row">
						<div class="photo vegetal1"></div>
						<div class="photo vegetal2"></div>
						<div class="photo vegetal3"></div>
					</div>
					<div class="presenter-row">
						<div class="photo vegetal4"></div>
						<div class="photo vegetal5"></div>
						<div class="photo vegetal6"></div>
					</div>
					<div class="presenter-row">
						<div class="photo vegetal7"></div>
						<div class="photo vegetal8"></div>
						<div class="photo vegetal9"></div>
					</div>
				</div>

			</label>
		</div>
		<!-- ################################################################## -->
	</div>
	<sep></sep>
</div>
