<!-- CREATIONS Template
	Contain ALL informations for creation place.

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<div>
	<h1>Créations</h1>
	<p>
		Le jardin est un espace de détente. Il doit être en cohérence avec votre identité et votre environnement. Il
		doit aujourd’hui, être durable et éco-responsable. Son entretien ne doit pas devenir contraignant.
	</p>
	<!-- ################################################################## -->
	<!-- ######################### TERRASSES PART ######################### -->
	<div>
		<h2>Terrasses</h2>
		<div>
			<h3>Terrasses Bois</h3>
			<p>
				Dans une démarche écoresponsable
				Nous ne proposons pour votre espace terrasse que des bois de résineux ou feuillus issus de forêt européenne .
				Nos essences Méléze , Douglas , Pin , Chêne .
			</p>
			<label for="btn-photoswipe">
				<div class="presenter photoswipe">
					<div class="presenter-row">
						<div class="photo terrasse1"></div>
						<div class="photo terrasse2"></div>
						<div class="photo terrasse3"></div>
					</div>
					<div class="presenter-row">
						<div class="photo terrasse1"></div>
						<div class="photo terrasse2"></div>
						<div class="photo terrasse3"></div>
					</div>
					<div class="presenter-row">
						<div class="photo terrasse1"></div>
						<div class="photo terrasse2"></div>
						<div class="photo terrasse3"></div>
					</div>
				</div>

			</label>
		</div>
		<div>
			<h3>Terrasses Pavées</h3>
			<p>
				Présentation terrasses pavées, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Terrasse Pavées 1" />
				<img alt="Terrasse Pavées 2" />
				<img alt="Terrasse Pavées 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Terrasses Minérales</h3>
			<p>
				Présentation terrasses minérales, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Terrasse Minérales 1" />
				<img alt="Terrasse Minérales 2" />
				<img alt="Terrasse Minérales 3" />
				<img alt="etc." />
			</div>
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- ########################## VÉGÉTAL PART ########################## -->
	<div>
		<h2>Végétal</h2>
		<p>
			Layus sur la création Végétal ?
		</p>
		<div>
			<h3>Massifs</h3>
			<p>
				Présentation Massifs, pk, choix des bois, etc.
			</p>
			<div class="presenter">
				<img alt="Massifs 1" />
				<img alt="Massifs 2" />
				<img alt="Massifs 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Gazons</h3>
			<p>
				Présentation Gazons, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Gazons 1" />
				<img alt="Gazons 2" />
				<img alt="Gazons 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Plantations</h3>
			<p>
				Présentation Plantations, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Plantations 1" />
				<img alt="Plantations 2" />
				<img alt="Plantations 3" />
				<img alt="etc." />
			</div>
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- #################### MENUISERIE PAYSAGÈRE PART ################### -->
	<div>
		<h2>Menuiserie paysagère</h2>
		<p>
			Layus sur la création Menuiserie paysagère ?
		</p>
		<div>
			<h3>Banc</h3>
			<p>
				Présentation Banc, pk, choix des bois, etc.
			</p>
			<div class="presenter">
				<img alt="Banc 1" />
				<img alt="Banc 2" />
				<img alt="Banc 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Bac</h3>
			<p>
				Présentation Bac, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Bac 1" />
				<img alt="Bac 2" />
				<img alt="Bac 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Pergola</h3>
			<p>
				Présentation Plantations, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Pergola 1" />
				<img alt="Pergola 2" />
				<img alt="Pergola 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Chalet</h3>
			<p>
				Présentation Chalet, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Chalet 1" />
				<img alt="Chalet 2" />
				<img alt="Chalet 3" />
				<img alt="etc." />
			</div>
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- ######################## CHEMINEMENT PART ######################## -->
	<div>
		<h2>Cheminement</h2>
		<p>
			Layus sur la création terrasses ?
		</p>
		<div>
			<h3>Cheminement Pavées</h3>
			<p>
				Présentation Cheminement pavées, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Cheminement Pavées 1" />
				<img alt="Cheminement Pavées 2" />
				<img alt="Cheminement Pavées 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Cheminement Bois</h3>
			<p>
				Présentation Cheminement bois, pk, choix des bois, etc.
			</p>
			<div class="presenter">
				<img alt="Cheminement Bois 1" />
				<img alt="Cheminement Bois 2" />
				<img alt="Cheminement Bois 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Terrasses Minérales</h3>
			<p>
				Présentation Cheminement minérales, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Cheminement Minérales 1" />
				<img alt="Cheminement Minérales 2" />
				<img alt="Cheminement Minérales 3" />
				<img alt="etc." />
			</div>
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- ########################### BASSIN PART ########################## -->
	<div>
		<h2>Bassin</h2>
		<p>
			Layus sur la création Bassin ?
		</p>
		<div class="presenter">
			<img alt="Bassin 1" />
			<img alt="Bassin 2" />
			<img alt="Bassin 3" />
			<img alt="etc." />
		</div>
	</div>
	<!-- ################################################################## -->
	<!-- ######################## SOUTÈNEMENT PART ######################## -->
	<div>
		<h2>Soutènement</h2>
		<p>
			Layus sur la création Soutènement ?
		</p>
		<div class="presenter">
			<img alt="Soutènement 1" />
			<img alt="Soutènement 2" />
			<img alt="Soutènement 3" />
			<img alt="etc." />
		</div>
	</div>
	<!-- ################################################################## -->
</div>