<!-- ENTRETIEN Template
	Contain ALL informations for entretien place. :: Contract tyes, informations about it, etc.

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<div>
	<h1>Entretien</h1>
	<p>
		Texte de présentation globale pour l'entretien.<br/>
		Ensemble des intéervations.<br/>
		L'entreprise Cactus entretient vos jardins. Que se soit pour un entretient périodique (contrat annuel), ou ponctuel, votre gazon ou vos fruitier.
	</p> 
	<!-- ################################################################## -->
	<!-- ########################### ANNUEL PART ########################## -->
	<div>
		<h2>Contrat annuel</h2>
		<p>
			Votre jardin propres toute l'année.
		</p>
		<p>
			Le contrat annuel propose un entretien régulier du jardin (nos équipes interviennent en moyenne toutes les deux semaines selon les conditions climatiques). Il vous permet de conserver votre jardin propre durant toute l'année. Il peut contenir : la tonte de vos espaces, le désherbage des massifs et l'entretien régulier des haies ou arbres de votre jardin.
		</p>
		<p>
			Devis sur rendez vous.
		</p>
	</div>
	<!-- ################################################################## -->
	<!-- ########################## PONCTUEL PART ######################### -->
	<div>
		<h2>Intervention ponctuel</h2>
		<p>
			Réparer un incident ou préparez votre weekend.
		</p>
		<p>
			L'intervention ponctuel vous permet de nous faire appel pour résoudre un problème liée au végétal (chute d'arbres, libération de fil électrique, etc.), ou de faire appel à nos services afin de nettoyer votre espace avant un weekend ou une fêtes impromptu. Dans le cas d'une intervention urgente (réparation de sinistre, demande de libération, etc.), nous intervenons dans les plus brefs délai.
		</p>
		<p>
			Contrat selon disponibilité des équipes.
		</p>
	</div>	
	<!-- ################################################################## -->
	<!-- ################### TAILLE ET SOIN ARBRES PART ################### -->
	<div>
		<h2>Taille et soin aux arbres</h2>
		<p>
			Prener soin de vos arbres.
		</p>
		<p>
			Notre entreprise peut intervenir pour prendre soin de vos arbres. Il s'agit de taille douce, permettant de redonner de la la lumière à votre jardin, d'éviter une surcharge du sujet pouvant entraîner des incidents, ou de contenter vos voisin mécontent.
		</p>
		<p>
			Devis sur rendez-vous.
		</p>
	</div>
	<!-- ################################################################## -->
</div>