<!-- ENTRETIEN Template
	Contain ALL informations for entretien place. :: Contract tyes, informations about it, etc.

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<div class="main entretien">
	<h1>Entretien</h1>
	<p>
		La gestion de votre jardin garantit sa pérennité et son agrément.
		Pour cela nous proposons deux solutions :
	</p>
	<p>
		<ul class="pres_list">
			<li><i class="fa fa-calendar" aria-hidden="true"></i>Entretien régulier, sous contrat annuel adapté à vos besoins (tontes, tailles, désherbages, …)</li>
			<li><i class="fa fa-clock-o" aria-hidden="true"></i>Ponctuellement, à votre demande, pour la mise en place de votre jardin avant votre venue, une
				occasion particulière ou la remise en état d’un jardin délaissé.</li>
		</ul>
	</p>
	<p>
		Engagé dans une démarche zéro phyto , nous n’utilisons plus de produits chimiques.
		Pour cela, nous pratiquons différemment.
	</p>
	<p>
		<ul class="pres_list">
			<li><img src="images/entretien.svg" alt="Lawn Mower by Luis Prado from the Noun Project" height="16px">Entretien des surfaces engazonnées et taille des végétaux dans le respect des bonnes pratiques.</li>
			<li>Utilisation de paillages et de techniques culturales plus respectueuses des sols et des végétaux.</li>
			<li>Utilisation de végétaux et matériaux adaptés à chaque situation ou utilisation.</li>
			<li>Gestion différenciée.</li>
		</ul>
	</p>
	<!-- ################################################################## -->
	<!-- ########################### ANNUEL PART ########################## -->
	<div>
		<h2><i class="fa fa-calendar" aria-hidden="true"></i>Contrat annuel</h2>
		<p>
			Votre jardin entretenu toute l'année.
		</p>
		<p>
			Le contrat annuel propose un entretien régulier du jardin, nos équipes interviennent en moyenne toutes
			les deux semaines selon les conditions climatiques. Il vous permet d'embellir votre jardin.
			Il peut contenir : la tonte des surfaces engazonnées, la gestion des massifs et l'entretien régulier des
			haies ou arbres.
		</p>
		<p>
			Devis gratuit sur rendez-vous.
		</p>
	</div>
	<!-- ################################################################## -->
	<!-- ########################## PONCTUEL PART ######################### -->
	<div>
		<h2><i class="fa fa-clock-o" aria-hidden="true"></i>Intervention ponctuel</h2>
		<p>
			Mise en place de votre jardin avant votre séjour ou un événement festif.
		</p>
		<p>
			A votre demande, nous pouvons intervenir afin de vous seconder pour l'entretien ou l'amélioration de vos
			espaces verts lorsque vous en avez la nécessité.
		</p>
		<p>
			Vous pouvez aussi nous faire appel pour résoudre un problème lié au végétal (chute d'arbres,
			dégagement de fil électrique, etc.). Dans le cas d'une intervention urgente, nous agissons dans les
			meilleurs délais.
		</p>
	</div>
	<!-- ################################################################## -->
	<!-- ################### TAILLE ET SOIN ARBRES PART ################### -->
	<div>
		<h2>Taille et soin aux arbres</h2>
		<p>
			Notre entreprise peut intervenir pour prendre soin de vos arbres par des tailles appropriées : taille
			douce, taille fruitière ou taille de formation.
		</p>
		<p>
			<img src="images/tree_dolce.svg" alt="Rubber tree by Xinh Studio from the Noun Project" height="16px"/>La taille douce, concernant principalement les arbres de haut jets, permet de redonner de la lumière à
		    votre jardin, d'éviter une surcharge du sujet pouvant entraîner des incidents. Elle permet de contrôler
			de façon préventive le volume et la hauteur de l’arbre avant qu’il n’atteigne des proportions trop
			importantes aux vues des contraintes l’entourant et d'embellir sa silhouette.
		</p>
		<p>
			<img src="images/tree_fruit.svg" alt="Apple Trees by Hamish Buchanan from the Noun Project" height="16px" />
			La taille fruitière qui, adaptée à chaque sujet ou variété, permet de conserver leur forme et de
			maintenir leur équilibre et leur fructification.
		</p>
		<p>
			<img src="images/tree_young.svg" alt="sprout by Daouna Jeong from the Noun Project" height="16px" />
			La taille de formation, suivi nécessaire pour les plantations récentes, permet un développement
			harmonieux de votre sujet et sculpte la silhouette future de l'arbre en supprimant certaines parties
			pour ne privilégier que les branches charpentières et les branches secondaires.
		</p>
		<p>
			Devis gratuit sur rendez-vous.
		</p>
	</div>
	<!-- ################################################################## -->
	<sep></sep>
</div>
