<!-- HEADER Template
	Contain the Navigation menu and the basic informtions (logo/name/tel/add)

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<band>
	<textes>
		<h1>Des jardins plus proches de la nature</h1>
		<p>
            <span class="quote">
                &laquo; Mes compétences et mon expérience acquise depuis 25 ans me permettent de répondre à votre besoin de jardin.
                Implanté dans un milieu naturel riche et varié, j’adapte votre jardin à notre région tantôt maritime tantôt campagnarde. &raquo;
            </span>
			<span class="signature">Yvan Fréville</span>
		</p>
	</textes>
</band>