<!-- HEADER Template
	Contain the Navigation menu and the basic informtions (logo/name/tel/add)

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<header>
	<band>
		<logo></logo>
		<textes>
			<h1>Des jardins plus proches de la nature</h1>
		</textes>
	</band>
	<nav>
		<ul>
			<li><a ui-sref="accueil">Accueil</a></li>
			<li><a ui-sref="fruticetum">Fruticetum</a></li>
			<li>
				<a ui-sref="creations">Créations</a>
				<ul>
					<li>
						<a ui-sref="terrasses">Terrasses</a>
						<ul>
							<li><a ui-sref="t_bois">Bois</a></li>
							<li><a ui-sref="t_pavees">Pavées</a></li>
							<li><a ui-sref="t_minerales">Minérales</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>
						<a ui-sref="vegetal">Végétal</a>
						<ul>
							<li><a ui-sref="massif">Massifs</a></li>
							<li><a ui-sref="gazon">Gazons</a></li>
							<li><a ui-sref="plantation">Plantations</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>
						<a ui-sref="menuiserie">Menuiserie paysagère</a>
						<ul>
							<li><a ui-sref="banc">Banc</a></li>
							<li><a ui-sref="bac">Bac</a></li>
							<li><a ui-sref="pergola">Pergola</a></li>
							<li><a ui-sref="chalet">Chalet</a></li>
						</ul>
					</li>
				</ul>				
				<ul>
					<li>
						<a ui-sref="cheminement">Cheminement</a>
						<ul>
							<li><a ui-sref="c_pavage">Pavage</a></li>
							<li><a ui-sref="c_bois">Bois</a></li>
							<li><a ui-sref="c_mineral">Minéral</a></li>
						</ul>
					</li>
				</ul>
				<ul><li><a ui-sref="bassin">Bassin</a></li></ul>
				<ul><li><a ui-sref="soutenement">Soutènement</a></li></ul>
			</li>
			<li><a ui-sref="entretien">Entretien</a></li>
			<li><a ui-sref="other">Notre matériel</a></li>
			<li><a ui-sref="contact">Contact</a></li>
		</ul>
	</nav>
</header>