<div>
	<band>
		<logo></logo>
		<textes>
			<h1>Cactus Espaces Verts</h1>
			<h2>Le jardin plus proche de la nature</h2>
		</textes>
		<scontact>
			<tel>03.22.26.62.82</tel>
			<address>
				<street>145, rue du Maréchal Foch</street>
				<span>
					<cp>80410</cp>
					<city>Cayeux Sur Mer</city>
				</span>
			</address>
		</scontact>
	</band>
	<nav>
		<ul>
			<li><a>Accueil</a></li>
			<li><a>Fruticetum</a></li>
			<li><a>Creations</a></li>
			<li><a>Entretient</a></li>
			<li><a>Contact</a></li>
			<li><a>Autres ? </a></li>
		</ul>
	</nav>
</div>