<!-- #################### MENUISERIE PAYSAGÈRE PART ################### -->
	<div>
		<h2>Menuiserie paysagère</h2>
		<p>
			Layus sur la création Menuiserie paysagère ?
		</p>
		<div>
			<h3>Banc</h3>
			<p>
				Présentation Banc, pk, choix des bois, etc.
			</p>
			<div class="presenter">
				<img alt="Banc 1" />
				<img alt="Banc 2" />
				<img alt="Banc 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Bac</h3>
			<p>
				Présentation Bac, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Bac 1" />
				<img alt="Bac 2" />
				<img alt="Bac 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Pergola</h3>
			<p>
				Présentation Plantations, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Pergola 1" />
				<img alt="Pergola 2" />
				<img alt="Pergola 3" />
				<img alt="etc." />
			</div>
		</div>		
		<div>
			<h3>Chalet</h3>
			<p>
				Présentation Chalet, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Chalet 1" />
				<img alt="Chalet 2" />
				<img alt="Chalet 3" />
				<img alt="etc." />
			</div>
		</div>
	</div>
	<!-- ################################################################## -->