
<!-- #################### MENUISERIE PAYSAGÈRE PART ################### -->
<div class="main">
	<h2>Menuiserie paysagère</h2>
	<p>
	<ul>
		<li>Banc</li>
		<li>Bac</li>
		<li>Pergola</li>
		<li>Chalet</li>
		<li>Piscine</li>
	</ul>
	</p>
	<div class="presenter">
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo menuiserie1"></div>
					<div class="photo menuiserie2"></div>
					<div class="photo menuiserie3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo menuiserie4"></div>
					<div class="photo menuiserie5"></div>
					<div class="photo menuiserie6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo menuiserie7"></div>
					<div class="photo menuiserie8"></div>
					<div class="photo menuiserie9"></div>
				</div>
			</div>

		</label>
	</div>
</div>
<!-- ################################################################## -->