<div>
	<div class="slider">
        <section ng-controller="OpSliderCtrl">
            <div class="slider">
                <img ng-repeat="slide in slides" height="400px" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
            </div>
        </section>
		<!-- Slider :) -->
		<section ng-controller="OpSliderCtrl">
			<div class="slider">
				<img ng-repeat="slide in slides" height="400px" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
			</div>
		</section>

        <section ng-controller="OpSliderCtrl">
            <div class="slider">
                <img ng-repeat="slide in slides" height="400px" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
            </div>
        </section>
	</div>
    <div class="intro">
        <p>
            <span class="quote">
                &laquo; Mes compétences et mon expérience acquise depuis 25 ans me permettent de répondre à votre besoin de jardin.
                Implanté dans un milieu naturel riche et varié, j’adapte votre jardin à notre région tantôt maritime tantôt campagnarde. &raquo;
            </span>
            <span class="signature">Yvan Fréville</span>
        </p>
        <p>
            <span class="entPresentation">
                L'entreprise Cactus accompagne ses clients depuis 25 ans. Installée en Baie de Somme, elle travaille en
                harmonie avec ce milieu particulier. L'exigence et la qualité de ses prestations originales et uniques en
                font un partenaire reconnu et apprécié pour des aménagements privés ou publics.
            </span>
            <span class="signature"></span>
        </p>

    </div>
	<p>
		Ils nous font confiance :
		<span class="works">
			<img alt='Communautée de Commune Baie de Somme Sud' height='100px' src='images/partenaires/ccbss.jpg'/>
			<img alt='Commune de Cayeux sur Mer' height='100px' src='images/partenaires/cayeuxsurmer.png'/>
			<img alt='Point P Saint Valéry sur Somme' height='100px' src='images/partenaires/pointp.png'/>
		</span>
	</p>
</div>
