
<div class="main opening">
	<div class="sliders">
        <section id="slider1" ng-controller="OpSliderCtrl">
            <div class="slider">
                <img ng-repeat="slide in slides1" height="400px" ng-hide="!isCurrentSlideIndex($index)"
                     ng-src="{{slide.image}}">
            </div>
        </section>

		<section id="slider2" ng-controller="OpSliderCtrl">
			<div class="slider">
				<img ng-repeat="slide in slides2" height="400px" ng-hide="!isCurrentSlideIndex($index)"
                     ng-src="{{slide.image}}">
			</div>
		</section>

        <section id="slider3" ng-controller="OpSliderCtrl">
            <div class="slider">
                <img ng-repeat="slide in slides3" height="400px" ng-hide="!isCurrentSlideIndex($index)"
                     ng-src="{{slide.image}}">
            </div>
        </section>
	</div>
    <div class="intro">
        <p>
            <span class="quote">
                &laquo; Mes compétences et mon expérience acquise depuis 25 ans me permettent de répondre à votre besoin de jardin.
                Implanté dans un milieu naturel riche et varié, j’adapte votre jardin à notre région tantôt maritime tantôt campagnarde. &raquo;
            </span>
            <span class="signature">Yvan Fréville</span>
        </p>
        <p>
            <span class="entPresentation">
                L'entreprise Cactus accompagne ses clients depuis 25 ans. Installée en Baie de Somme, elle travaille en
                harmonie avec ce milieu particulier. L'exigence et la qualité de ses prestations originales et uniques en
                font un partenaire reconnu et apprécié pour des aménagements privés ou publics.
            </span>
            <span class="signature hidden"> </span>
        </p>

    </div>
    <sep></sep>
</div>