<div class="remarquable">
	<h1>Le Fruticetum</h1>
	<!--<div class="fruticteum_pres_photo"></div>	-->
	<p>
		<span>
			Interprétation moderne d’un jardin médiéval.
        </span>
        <a href="http://beatricesaurel-michelracine.fr/" target="_blank">
            Béatrice Saurel artiste paysagiste et Michel Racine architecte paysagiste
            ont souhaité collaborer avec
            Yvan Fréville pour réaliser ce jardin .
        </a>
        <span>
			La diversité des ouvrages et matériaux a mobilisé les compétences de l’entreprise CACTUS et de son
			réseaux de co-traitants locaux .
		</span>
		<br>
		<span>
			Au pied des remparts de Saint Valéry-sur-Somme, le Fruticetum, est un jardin pédagogique de santé et de
			lien social réalisé en 2014 pour les résidents de la maison de retraite et de l'hôpital voisins et l'accueil
			du public.
			Interprétation contemporaine du jardin médiéval, il introduit et complète l'interprétation jardinière et
			poétique du Jardin de l'Herbarium, créé en 1996 à l'emplacement de l'ancien jardin des religieuses
			Augustine, par l'association de l'Herbarium et classé jardin remarquable.
			Le Fruticetum est clos d'un plessis de gros cordages évoquant les plessis médiévaux. La pergola d'entrée
			offre une vue cadrée de l'ensemble du jardin et donne accès au &laquo; Fruitier &raquo;, le pavillon
			d'accueil. Le jardin est planté de variétés anciennes de pommiers et de poiriers conduits pour former un
			cloître végétal autour d'une prairie fleurie.
			Au fond du jardin, le plan d'eau évoque sobrement les &laquo; bâches &raquo; de la Baie et invite à
			poursuivre la promenade.
		</span>
	</p>
	<label for="btn-photoswipe" class="photoswipe">
		<div class="presenter photoswipe">
			<div class="presenter-row">
				<div class="photo fruti1"></div>
				<div class="photo fruti2"></div>
				<div class="photo fruti3"></div>
			</div>
			<div class="presenter-row">
				<div class="photo fruti4"></div>
				<div class="photo fruti5"></div>
				<div class="photo fruti6"></div>
			</div>
			<div class="presenter-row">
				<div class="photo fruti7"></div>
				<div class="photo fruti8"></div>
				<div class="photo fruti9"></div>
			</div>
		</div>
	</label>
	<sep></sep>
</div>

