<div>
	<h1>Le Fruticetum</h1>
	<p>
		<img url="images/fruticetum1.jpg" alt="Le Fruticetum, jardin publique, Saint Valéry sur Somme. -- photo de Yvan Freville" />
		<span>
			Laïus sur le jardin -- 1 <br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus congue, elit vitae commodo ultricies, ipsum massa lobortis nisi, in porttitor turpis massa in massa. Integer id nibh at est elementum aliquet ut vel est. Mauris ultricies mi et risus tempor, eget egestas urna dapibus. Proin placerat ante quis commodo elementum. Nulla at vehicula mi, a ullamcorper nibh. Aliquam consectetur ut turpis nec hendrerit. Vestibulum vel sagittis quam, nec pellentesque nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam vel finibus ligula. Duis posuere, tellus porttitor dictum convallis, ante libero dictum sem, a dictum arcu velit id orci. Nulla vel risus erat. Duis rutrum massa at vulputate vestibulum. Fusce ut nibh non nunc facilisis rutrum et quis orci. Aenean est sem, euismod blandit neque nec, placerat auctor sem. Donec nec purus libero. Nunc id neque quis lorem rutrum commodo rhoncus a augue.
		</span>
		<br>
		<span>
			Duis quis molestie metus. Cras cursus odio consectetur fermentum vestibulum. Donec pulvinar at mi sed venenatis. Integer nec dui vel dolor pulvinar ultricies vel vel lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean non odio ultricies, viverra tortor sit amet, rutrum ligula. Nunc tincidunt sagittis eros varius tincidunt. Curabitur tincidunt nibh nisl, vel euismod nulla ullamcorper at. Phasellus eget condimentum ligula, a porttitor velit. Maecenas interdum metus est, ut maximus quam imperdiet nec. Nulla vitae consectetur sapien. Aliquam erat volutpat. Etiam nec placerat turpis. Vestibulum a pulvinar metus. Quisque id finibus turpis.
		</span>
	</p>
	<div>
		DIAPORAMA
	</div>
	<p>
		<span>
			Laïus sur le jardin -- 2 <br>
			Vestibulum tincidunt id arcu tristique vulputate. Curabitur lacinia laoreet ante. Nulla imperdiet felis a arcu vehicula iaculis. Morbi libero felis, feugiat volutpat rhoncus malesuada, vestibulum eget tellus. Nulla facilisi. Etiam commodo orci elit, eu consequat lorem ornare eu. Maecenas rutrum nisi molestie condimentum lacinia. Etiam vitae blandit tortor. Mauris tincidunt elit a pellentesque vulputate. Nulla commodo lectus leo, quis sollicitudin orci fermentum vehicula. Nullam tortor dolor, hendrerit in dolor ac, tempus imperdiet enim. Nullam rutrum arcu eu convallis porta. Praesent auctor ac nisl ac blandit. Nulla molestie ligula vel nulla bibendum ultricies.
		</span>
		<br>
		<span>
			Morbi id posuere turpis. Mauris eget ornare ante. Integer tempus vulputate risus, in bibendum augue euismod a. Suspendisse fringilla porttitor dictum. Ut volutpat eros velit, vel tincidunt nibh euismod non. Etiam ornare sollicitudin ipsum, ac aliquam orci posuere vitae. Quisque purus lacus, dignissim vitae placerat ut, lobortis sit amet purus. Aliquam sit amet consequat elit, nec blandit metus. Phasellus interdum lectus vitae ex mollis, quis maximus turpis viverra. Phasellus ac suscipit lorem. Fusce eget lectus rutrum, laoreet risus non, tempor purus. Etiam ut finibus lorem. Suspendisse potenti.
		</span>
	</p>
</div>