
<div class="main">
	<h1>Le Fruticetum</h1>
	<p>
		<div class="fruticteum_pres_photo"></div>
		<span>
			Interprétation moderne d’un jardin médiéval.<br/>
			Béatrice Saurel artiste paysagiste et Michel Racine architecte paysagiste ont souhaitez collaboré avec
			Yvan Fréville pour réaliser ce jardin .<br/>
			La diversité des ouvrages et matériaux a mobilisé les compétences de l’entreprise CACTUS et de son
			réseaux de co-traitants locaux .
		</span>
		<br>
		<span>
			Au pied des remparts de Saint Valéry-sur-Somme, le Fruticetum, est un jardin pédagogique de santé et de
			lien social réalisé en 2014 pour les résidents de la maison de retraite de l'hôpital voisin et l'accueil
			du public.
		</span>
		<br>
		<span>
			Interprétation contemporaine du jardin médiéval, il introduit et complète l'interprétation jardinière et
			poétique du Jardin de l'Herbarium, créé en 1996 à l'emplacement de l'ancien jardin des religieuses
			Augustine, par l'association de l'Herbarium et classé jardin remaquable.
		</span>
		<br>
		<span>
			Le Fruticetum est clos d'un plessis de gros cordages évoquant les plessis médiévaux. La pergola d'entrée
			offre une vue cadrée de l'ensemble du jardin et donnée accès aux &laquo; Fruitiers &raquo;, le pavillon
			d'accueil. Le jardin est planté de variétés anciennes de pommiers et de poiriers conduits pour former un
			cloître végétal autour d'une prairie fleurie.
		</span>
		<br/>
		<span>
			Au fond du jardin, le plan d'eau évoque sobrement les &laquo; bâches &raquo; de la Baie et invite à
			poursuivre la promenade.
		</span>
	</p>
</div>
<sep></sep>