<!-- ######################### TERRASSES PART ######################### -->
<div>
	<h2>Terrasses</h2>
	<p>
		Dans une démarche écoresponsable
		Nous ne proposons pour votre espace terrasse que des bois de résineux ou feuillus issus de forêt européenne .
		Nos essences Méléze , Douglas , Pin , Chêne .
	</p>
	<div>
		<h3>Terrasses Bois</h3>
		<p>
			Présentation terrasses bois, pk, choix des bois, etc.
		</p>
		<label for="btn-photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo terrasse1"></div>
					<div class="photo terrasse2"></div>
					<div class="photo terrasse3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrasse1"></div>
					<div class="photo terrasse2"></div>
					<div class="photo terrasse3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrasse1"></div>
					<div class="photo terrasse2"></div>
					<div class="photo terrasse3"></div>
				</div>
			</div>

		</label>
	</div>
	<div>
		<h3>Terrasses Pavées</h3>
		<p>
			Présentation terrasses pavées, pk, etc.
		</p>
		<div class="presenter">
			<img alt="Terrasse Pavées 1" />
			<img alt="Terrasse Pavées 2" />
			<img alt="Terrasse Pavées 3" />
			<img alt="etc." />
		</div>
	</div>
	<div>
		<h3>Terrasses Minérales</h3>
		<p>
			Présentation terrasses minérales, pk, etc.
		</p>
		<div class="presenter">
			<img alt="Terrasse Minérales 1" />
			<img alt="Terrasse Minérales 2" />
			<img alt="Terrasse Minérales 3" />
			<img alt="etc." />
		</div>
	</div>
</div>
<!-- ################################################################## -->