<!-- TERRASSES Template
	Contain Terrasse part information only.

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<!-- ######################### TERRASSES PART ######################### -->
<div class="main">
	<h2>Terrasses</h2>
	<div>
		<h3>Terrasses Bois</h3>
		<p>
			Dans une démarche écoresponsable
			Nous ne proposons pour votre espace terrasse que des bois de résineux ou feuillus issus de forêt européenne .
			Nos essences Méléze , Douglas , Pin , Chêne .
		</p>
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo terrassebois1"></div>
					<div class="photo terrassebois2"></div>
					<div class="photo terrassebois3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassebois4"></div>
					<div class="photo terrassebois5"></div>
					<div class="photo terrassebois6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassebois7"></div>
					<div class="photo terrassebois8"></div>
					<div class="photo terrassebois9"></div>
				</div>
			</div>

		</label>
	</div>
	<div>
		<h3>Terrasses Pavées et Minérales</h3>
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo terrassepavmin1"></div>
					<div class="photo terrassepavmin2"></div>
					<div class="photo terrassepavmin3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassepavmin4"></div>
					<div class="photo terrassepavmin5"></div>
					<div class="photo terrassepavmin6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo terrassepavmin7"></div>
					<div class="photo terrassepavmin8"></div>
					<div class="photo terrassepavmin9"></div>
				</div>
			</div>

		</label>
	</div>
</div>
<!-- ################################################################## -->