
<!-- ########################## VÉGÉTAL PART ########################## -->
<div class="main">
	<h2>Végétal</h2>
	<p>
	<ul>
		<li>Plantations</li>
		<li>Massifs</li>
		<li>Gazons</li>
		<li>Haies</li>
	</ul>
	</p>
	<div class="presenter">
		<label for="btn-photoswipe" class="photoswipe">
			<div class="presenter photoswipe">
				<div class="presenter-row">
					<div class="photo vegetal1"></div>
					<div class="photo vegetal2"></div>
					<div class="photo vegetal3"></div>
				</div>
				<div class="presenter-row">
					<div class="photo vegetal4"></div>
					<div class="photo vegetal5"></div>
					<div class="photo vegetal6"></div>
				</div>
				<div class="presenter-row">
					<div class="photo vegetal7"></div>
					<div class="photo vegetal8"></div>
					<div class="photo vegetal9"></div>
				</div>
			</div>

		</label>
	</div>
	<!-- ################################################################## -->