	<!-- ########################## VÉGÉTAL PART ########################## -->
	<div>
		<h2>Végétal</h2>
		<p>
			Layus sur la création Végétal ?
		</p>
		<div>
			<h3>Massifs</h3>
			<p>
				Présentation Massifs, pk, choix des bois, etc.
			</p>
			<div class="presenter">
				<img alt="Massifs 1" />
				<img alt="Massifs 2" />
				<img alt="Massifs 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Gazons</h3>
			<p>
				Présentation Gazons, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Gazons 1" />
				<img alt="Gazons 2" />
				<img alt="Gazons 3" />
				<img alt="etc." />
			</div>
		</div>
		<div>
			<h3>Plantations</h3>
			<p>
				Présentation Plantations, pk, etc.
			</p>
			<div class="presenter">
				<img alt="Plantations 1" />
				<img alt="Plantations 2" />
				<img alt="Plantations 3" />
				<img alt="etc." />
			</div>
		</div>
	</div>
	<!-- ################################################################## -->