<!-- WORK Template
	Contain ALL informations on people we are working for.

	Author: Titouan FREVILLE <tfreville@hotmail.fr>
-->
<div class="work">
    <h1>Ils nous font confiance :</h1>
    <span class="works">
			<img alt='Communautée de Commune Baie de Somme Sud' height='100px' src='images/partenaires/ccbss.jpg'/>
			<img alt='Commune de Saint Valery sur Somme' height='100px'
                 src='images/partenaires/saintvalerysursomme.jpg'/>
			<img alt='Point P Saint Valéry sur Somme' height='100px' src='images/partenaires/pointp.png'/>
		</span>
</div>